extends ../layout
block title
  | Terug naar de tekentafel : ARPA2.net
block content
  h1 Terug naar de tekentafel : ARPA2.net
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/leenaars.jpg')
        .col-sm-8
          h3 Michiel Leenaars
          h4 NLNet / ISOC
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/rick.jpg')
        .col-sm-8
          h3 Dr. ir. Rick van Rein
          h4 ARPA2.net
    p.col-md-8.
      ARPA2.net is een samenwerkingsplatform voor ontwikkelaars die werken aan
      een geredecentraliseerd internet dat 'secure by design' is. Binnen
      organisaties als IETF en W3C wordt samengewerkt aan belangrijke nieuwe
      internetbouwstenen. Daartegenover staat de weerbarstige praktijk waarin
      de drempel om deze verbeteringen te gaan gebruiken te hoog ligt voor het
      grootste deel gebruikers, ISP en hostingbedrijven. Het ARPA2 project wil
      deze uitdaging op een onconventionele manier aanpakken. Hoofdarchitect
      Rick van Rein (InternetWide.org) en Michiel Leenaars (NLnet foundation)
      gaan in op dit ambitieuze project om het internet weer terug in handen
      te geven van de gebruikers - en welke rol studenten daar zelf bij kunt
      spelen.