extends ../layout
block title
  | Terug naar de tekentafel : ARPA2.net
block content
  h1 Terug naar de tekentafel : ARPA2.net
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/leenaars.jpg')
        .col-sm-8
          h3 Michiel Leenaars
          h4 NLNet / ISOC
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/rick.jpg')
        .col-sm-8
          h3 Dr. ir. Rick van Rein
          h4 ARPA2.net
    p.col-md-8.
      ARPA2.net is een samenwerkingsplatform voor ontwikkelaars die werken aan
      een geredecentraliseerd internet dat 'secure by design' is. Binnen
      organisaties als IETF en W3C wordt samengewerkt aan belangrijke nieuwe
      internetbouwstenen. Daartegenover staat de weerbarstige praktijk waarin
      de drempel om deze verbeteringen te gaan gebruiken te hoog ligt voor het
      grootste deel gebruikers, ISP en hostingbedrijven. Het ARPA2 project wil
      deze uitdaging op een onconventionele manier aanpakken. Hoofdarchitect
      Rick van Rein (InternetWide.org) en Michiel Leenaars (NLnet foundation)
      gaan in op dit ambitieuze project om het internet weer terug in handen
      te geven van de gebruikers - en welke rol studenten daar zelf bij kunt
      spelen.
    p.col-md-8.
      Michiel Leenaars is directeur strategie van stichting NLnet en daarnaast directeur van vereniging Internet Society Nederland. Hij is bestuurlijk actief binnen allerlei organisaties, onder meer als lid van het bestuur van OpenDoc Society (vice-voorzitter), Stichting Accessibility en Petities.nl. Daarnaast is hij liaison officer bij het Benelux-kantoor van het World Wide Web Consortium, en betrokken als adviseur bij diverse startups en open source-initiatieven. Hij studeerde Technische Natuurkunde aan de Technische Universiteit Eindhoven en Theorie en Geschiedenis van de Literatuur/Communicatie in woord en beeld aan de Universiteit van Tilburg.
    p.col-md-8.
      Dr.ir. Rick van Rein is cryptograaf en hoofdarchitect van ARPA2.net. Hij is oprichter van OpenFortress, een onafhankelijk bureau dat gespecialiseerd is in beveiliging van netwerkprotocollen en privacy-gerelateerde technologie. In internetstandardisatiekringen houdt Rick zich ondermeer bezig met IPv6, DNSSEC, SIP, Kerberos, TLS, OpenPGP en X.509. Hij is in 2002 gepromoveerd aan Universiteit Twente op bewijsvorming van procesmodellen, maar zijn oorspronkelijke LTS-opleiding laat zich ook nog goed voelen in zijn resultaatgerichte aanpak en handigheid met praktische zaken. Hij is actief in een groot aantal open source projecten, waaronder OpenDNSSEC, 0cpm Firmerware en 6bed4.
