extends ../layout
block title
  | TBD
block content
  h1 TBD
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/guido.jpg')
        .col-sm-8
          h3 Douwe Schmidt
          h4 De Correspondent
    .col-md-8
      :markdown
        Douwe Schmidt is oprichter van het Privacy Café: een landelijke workshop voor digitale veiligheid en werknemer bij privacy bewust webhosting bedrijf Greenhost. Hij schrijft voor de Correspondent over de zoektocht naar z’n digitale alter-ego en technische oplossingen voor de surveillance staat. Hij organiseert de succesvolle TA3M avonden waarin workshops, presentaties en discussies worden gehouden over digitale verdedigingstechnieken en is verantwoordelijk voor Noisy Square; bijeenkomsten tijdens hackerfestivals in Nederland, Duitsland en de Verenigde Staten met een nadruk op de politiek en sociale implicaties van techniek.