extends ../layout
block title
  | Team Human 
block content
  h1 Team Human 
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/dosch.jpg')
        .col-sm-8
          h3 Douwe Schmidt
          h4 Greenhost
    .col-md-8
      :markdown

        Tientallen jaren na het begin van het internet en anderhalf jaar na het
        begin van de onthullingen van Snowden kijken velen met gemengde
        gevoelens terug; het ultieme netwerk van netwerken lijkt gekaapt. Deze
        machine voor vrijheid en gelijkheid is ook de meest efficiënte
        surveillance machine ooit gemaakt. 


        Ondertussen werken we onverminderd door om zo veel mogelijk apparaten
        online te krijgen, is de sociale druk om je op een sociaal netwerk aan
        te melden bijna onoverkomelijk en is de smartphone het ultieme symbool
        van intimiteit en privacy-schending geworden. 

        Waar ging het fout? Wat kunnen we er aan doen? Wat is #TeamHuman? En
        wat hebben een Franse Filosoof, hordes zombies en bandrecorders uit
        1969 daarmee te maken?  Douwe Schmidt is oprichter van het Privacy
        Café: een landelijke workshop voor digitale veiligheid en werknemer bij
        privacy bewust webhosting bedrijf Greenhost. Hij schrijft voor de
        Correspondent over de zoektocht naar z’n digitale alter-ego en
        technische oplossingen voor de surveillance staat. Hij organiseert de
        succesvolle TA3M avonden waarin workshops, presentaties en discussies
        worden gehouden over digitale verdedigingstechnieken en is
        verantwoordelijk voor Noisy Square; bijeenkomsten tijdens
        hackerfestivals in Nederland, Duitsland en de Verenigde Staten met een
        nadruk op de politiek en sociale implicaties van techniek.
