extends ../layout
block title
  | Polymorfe Pseudonimisering: een basis voor een derde generatie eID stelsel?
block content
  h1 Polymorfe Pseudonimisering: een basis voor een derde generatie eID stelsel?
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/eric.jpg')
        .col-sm-8
          h3 Eric Verheul
          h4 KeyControls - op persoonlijke titel
    .col-md-8
      :markdown
        Het Nederlandse eID stelsel moet het mogelijk maken is dat burgers, consumenten en ondernemers beter online zaken kunnen doen met overheid en bedrijfsleven. Daartoe moet het stelsel recht doen aan de volgende belangen ([vergelijk het eID Stakeholder document](http://www.eid-stelsel.nl/uploads/media/2._Stakeholders__belangen_en_ontwerpeisen_v1.0.pdf)):
        1. Betrouwbaarheid

          In essentie betekent dit dat het stelsel beschikbaar moet zijn en dat ‘identificatiediefstal’ binnen het stelsel niet mogelijk is. 

        2. Gebruiksgemak / toegankelijkheid / marktwerking
          Het stelsel moet eenvoudig te gebruiken zijn voor burgers. Er moet ook een ruime keuze zijn van middelen die de burger kan gebruiker, waar onder die van private partijen.

        3. Privacy
            Binnen het eID stelsel zullen persoonsgegevens worden verwerkt. Deze verwerkingen moeten conform de [Wet bescherming persoonsgegevens](http://wetten.overheid.nl/BWBR0011468/geldigheidsdatum_26-10-2014) en diens voorziene opvolger de Europese verordening gegevensbescherming. Essentieel daarbij is de wijze waarop het eID stelsel invulling geeft aan het data minimalisatie beginsel, i.e. dat alleen wordt verwerkt wat ‘minimaal nodig is voor de doeleinden waarvoor zij worden verwerkt’ (Artikel 5c, EU privacy verordening). 
        4. Toekomstvastheid / uitbreidbaarheid
            Het eID stelsel moet niet alleen de problemen van vandaag kunnen oplossen maar moet zo flexibel en robuust zijn dat het toekomstige vragen en belangen rond elektronische identificatie kan adresseren.
        5. Betaalbaarheid
            Het eID stelsel moet betaalbaar zijn.
        6. Misbruik kan eenvoudig ontdekt en opgespoord worden
            Het is van belang dat er vertrouwen is in het eID Stelsel bij alle partijen. Om die reden moet misbruik eenvoudig ontdekt en opgespoord kunnen worden


        Om tegemoet te komen aan het tweede belang is binnen het eID stelsel gekozen voor een zogenaamde [federatieve authenticatie opzet](https://en.wikipedia.org/wiki/Security_Assertion_Markup_Language), zoals die ook wordt gehanteerd binnen [e-Herkenning](http://www.e-herkenning.nl/), [DigiD](http://digid.nl/) en [iDEAL](http://ideal.nl/'). Het derde belang (privacy) is sterk verbonden met de vraag tot hoever het eerder genoemde data minimalisatie beginsel doorgevoerd moet worden.

        Vanuit het eID programma is een [voorstel](http://www.eid-stelsel.nl/uploads/media/PP_Scheme_091.pdf) gedaan voor een Nederlands eID stelsel waarin privacy bescherming een prominente rol speelt. Eric Verheul is als cryptografisch ontwerper betrokken bij de totstandkoming van dit voorstel. 


        In zijn lezing op persoonlijke titel zal Eric Verheul, na een korte bespreking van bovengenoemde belangen, inzoomen op het privacy vraagstuk. Hij zal daartoe een aantal concrete vragen formuleren rond privacy binnen een federatieve authenticatie opzet en daarbij aangeven hoe het gedane voorstel daarop antwoord kan geven. 

        ## Korte biografie Eric Verheul
        Eric Verheul is part-time professor in de Digital Security Group van de Radboud Universiteit Nijmegen en werkt daarnaast als zelfstandig consultant. Eric is gepromoveerd in de wiskunde en is sinds 1993 actief binnen de informatiebeveiliging toen hij startte als beveiliging analist voor het ministerie van BZK. Na werkzaam geweest te zijn als universitair docent binnen de cryptografie groep van de technische universiteit Eindhoven, trad hij in 1999 in dienst bij PwC waar hij actief was in de (technische) informatiebeveiliging en ICT auditing. Sinds 2012 werkt hij vanuit zijn eigen bedrijf. De grootste interesse van Eric gaat uit naar twee onderdelen van het gebied die als gewoonlijk als diametraal worden gepercipieerd: cryptografie en security management.

          Cryptografie is het meest technische gedeelte van informatiebeveiliging. Eric is de co-uitvinder van twee nieuwe publiek sleutel cryptosystemen en de co-auteur van het eerste omvattende model voor het selecteren van cryptografische sleutel lengten. Security management is het minst technische gedeelte van informatiebeveiliging en omvat de wijze waarop het management van een organisatie in control is (of moet zijn) van zijn integrale beveiligingsrisico’s. Dit laatste omvat ook de beveiligingsrisico’s rond de bescherming van de persoonsgegevens waar de organisatie verantwoordelijkheid voor draagt. Op de Radboud Universiteit geeft Eric een master college over security management gebaseerd op de ISO 27001 norm.

          Eric meent dat de koppeling van het technische/operationele gedeelte van informatiebeveiliging met security management de enige echte uitdaging is binnen informatiebeveiliging. Zijn overtuiging daarbij is dat integrale informatiebeveiliging nog in de kinderschoenen staat en dat met de snelle, functionaliteit gedreven, ontwikkeling van ICT de uitdaging rond informatiebeveiliging elke dag groter wordt.