extends ../layout
block title
  | Rabobank en Cryptocurrencies, met open vizier?
block content
  h1 Rabobank en Cryptocurrencies, met open vizier?
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/guido.jpg')
        .col-sm-8
          h3 Guido van 't Noordende
          h4 UvA
    .col-md-8
      :markdown
        Guido van ’t Noordende is onderzoeker in het gebied van System and Network Engineering. Hij houdt zich onder andere bezig met de veiligheid en privacy binnen gedistribueerde systemen en leidt ook het subprogramma van het Nederlandse project COMMIT binnen dit veld. Hiernaast is hij een expert op het gebied van veiligheid van het Elektronisch Patiënten Dossier (EPD), waar hij zijn talk op deze editie van het SNiC over gaat houden.