extends ../layout

block above-content

block header 
  header.hero.speakers
    h2 Speakers
      .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 The Disruptors
      .separator(role='separator')
      p
        | A conference without speakers is like a swimming pool without water. We have collected the most inspiring entrepeneurs, scientist and experts from the business sector. We are working hard to get the speakers we think would fit the conference best. We will keep you updated via our Facebook page and this page.