extends ../layout
block title
  | Online video streaming met anonimiteit
block content
  h1 Online video streaming met anonimiteit
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/johan.jpg')
        .col-sm-8
          h3 Johan Pouwelse
          h4 Tribler
    .col-md-8
      :markdown
        Privacy op het Internet is een illusie. Alles wat U doet wordt gevolgd
        en bewaard door (geheime) organisaties en bedrijven.
        Tijdens deze presentatie hoor je hoe in Delft al 9 jaar gewerkt word
        om 4e generatie peer-to-peer systemen te maken.
        Deze systemen moeten bestand zijn tegen aanvallen van hackers,
        advocaten en censurerende overheden.
        Het Tribler team heeft de eerste implementie van het Tor anonimiteits
        protocol gemaakt die geen servers nodig heeft en ook Bittorrent
        compatible is.
        We proberen het Internet te herstellen en de macht terug te geven aan
        gebruikers.
        
        ## Korte biografie
        Dr. Johan Pouwelse is werkzaam bij de TU Delft en richt zich volledig
        op technologie voor privacy bescherming.
        Sinds 9 jaar is hij bezig met Tribler, een systeem voor online videos
        kijken met uitzonderlijk goede privacy bescherming.
        Sinds de Tribler oprichting hebben 1.6 miljoen mensen zijn software
        geinstalleerd. De droom is dat zelfs Edward Snowden zonder problemen
        Tribler kan gebruiken.

        Johan is 15 jaar geleden begonnen met het onderzoek naar crowd
        sourcing, zelf-organiserende systemen en peer-to-peer file sharing.
        Hij was een visiting scientist bij MIT, heeft enkele zomers bij
        Harvard onderzoek gedaan en is kroon getuige geweest bij rechtzaken in
        Amerika tegen de muziek-industrie.