extends ../layout
block title
  | Rabobank en Cryptocurrencies, met open vizier?
block content
  h1 Rabobank en Cryptocurrencies, met open vizier?
  .row
    .col-md-8
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/roel.jpg')
        .col-sm-8
          h3 Roel Steenbergen
          h4  Innovation Manager Rabobank Nederland Group IT
    .col-md-8
      :markdown
        I do believe that the current era of fast evolving and industry disrupting technologies provide a lot of 
        opportunities for businesses, startups or corporates. But you have to see and grasp them. This is the 
        field I like to work in. Preach and practice! I like to bring the outside world in the company, not just 
        by giving presentations about relevant trends but also by trying and proving. That’s why we at our 
        innovation team initiate a lot of proof of concept projects. Some examples of projects I worked, or 

        am working on, are: 

        * Biometric authentication, 
        * Social Business content marketing, 
        * How to use Crypto currencies for International payments ,
        * Cognitive computing for complex financial questions
        * Bartering for local communities

        Innovation is not “invented” by a team but can come from anywhere within the organization. By 
        organizing Innovation courses and trend sessions , providing tools, help and feedback we try to help 
        bringing ideas further.

        ## Abstract

        De ICT-revolutie en dan met name internet hebben het bankieren in de afgelopen decennia wezenlijk veranderd. Virtueel bankieren met computer, tablet of smartphone is de norm geworden. Maar de technologie gaat hard en de opkomst van de zogeheten cryptocurrencies vormt een nieuwe stap in de ontwikkeling van het betalingsverkeer. In deze presentatie kijk ik naar de opkomst en beloftes van het cryptogeld, zoom ik kort illustratief in op Bitcoin en bespreek ik hoe Rabobank deze ontwikkeling met open vizier tegemoet wil treden, zonder daarbij de mogelijke risico's uit het oog te verliezen. Maar ik zal zeker ook wat mooie voorbeelden uit de praktijk geven wat er binnen een grote organisatie gebeurt wanneer een dergelijke nieuwe en mogelijk disruptieve techniek opduikt. Het verhaal heeft geen einde want we zitten er middenin.