extends ../layout

block above-content

block header 
  header.hero.achmea
    h2 Achmea
    .separator(role='separator')
block content
  section.intro.slanted
    .content
      h2 Build the Achmea of the Future!
      .separator(role='separator')
      p
        | Do you want to help build the Achmea of the future? Achmea is currently working on adapting itself to a new world. Our social role in which we help people to deal with risks won’t change, but the way we perform it will. We are a leading service provider with daily relevance for our customers. We provide insight into uncertainties and offer appropriate solutions for dealing with them. We have to do this, and still provide the best service, like we have done for more than 200 years.
