extends ../layout

block above-content

block header 
  header.hero.achmea
    //h2 Achmea
    //.separator(role='separator')
    h2 Start in de voorhoede
block content
  section.intro.slanted
    .content
      h2 Start in de voorhoede
      h3 Wij zijn Achmea
      p Verzekeren gaat in deze tijd wel wat verder dan je vakantie of ‘later’. Want hoe regelen we de aansprakelijkheid rond het gebruik van drones, de risico’s van zelfrijdende auto’s, of het uitlenen en verhuren van spullen in de deeleconomie? Deze complexe vraagstukken stellen nieuwe eisen aan onder meer de capaciteit, kracht en flexibiliteit van de systemen, netwerken, databases en websites. Zeker bij #[a(href='http://www.achmea.nl') Achmea]: met merken als #[a(href='http://www.FBTO.nl') FBTO], #[a(href='http://www.centraalbeheer.nl') Centraal Beheer], #[a(href='http://www.interpolis.nl') Interpolis] en #[a(href='http://www.zilverenkruis.nl') Zilveren Kruis], en ruim 13.500 medewerkers in Nederland, zijn we niet alleen de grootste, maar ook de meest vertrouwde digitale verzekeraar van ons land. Denk dan aan ongeveer 10 miljoen klanten met elk hun eigen risico’s en verzekeringswensen. Dat betekent dat we een enorme verantwoordelijkheid dragen. Kortom, een uitdagende werkomgeving met eindeloos veel mogelijkheden om jezelf te ontwikkelen. Bij uitstek voor ambitieuze recent afgestudeerde academici die al tijdens hun traineeship een hoofdrol naar zich toe durven te trekken in ons voortdurende streven om het verzekeren opnieuw uit te vinden. En die zo bijdragen aan topprestaties in onze performance op de korte en lange termijn. Het #[a(href='https://www.werkenbijachmea.nl/young-professional/Paginas/IT-Management-Traineeship.aspx') IT Management Traineeship] of IT Talentship vormt een uitstekende start van een veelbelovende carrière.

      h3 Het Traineeship
      p We laten je graag zien waar we jouw brains kunnen gebruiken binnen ons verzekeringsbedrijf. Want verzekeren in deze tijd betekent voortdurend de voorhoede opzoeken. Met producten voor de klantwensen van vandaag en morgen. En een organisatie die slim alle denkbare moderne technologieën inzet. Daarom werk je gedurende twee jaar aan vier opdrachten van zes maanden. Drie opdrachten vinden plaats binnen de verschillende afdelingen van Achmea IT; je gaat je tanden zetten in actuele thema’s als innovatie, security, business intelligence en big data. Stuk voor stuk cruciaal voor een data-intensieve organisatie en het groeiende digitale verkeer met klanten en andere partijen. Hierdoor krijg je een ruime blik op het verzekeringsbedrijf, doe je veel ervaring op, en ontdek je waar je goed in bent en wat je écht leuk vindt. Ten minste één opdracht voer je uit binnen een van onze divisies. De opdrachten bepaal je in samenspraak met de top van de organisatie en sluiten aan bij je leerdoelen. Het wordt dus allesbehalve een standaardprogramma: het is jóuw traineeship, en daarbij hoort een passend individueel traject zodat je als professional groeit op het gebied van zowel vakkennis als vaardigheden. Zodat je bijvoorbeeld een belangrijke functie aankunt bij de ingrijpende transformatie waarbij talloze claimsystemen en schadesystemen worden geïntegreerd. Bovendien krijg je uitstekende begeleiding van onder meer een mentor en een extern coachingsbureau. Samen kom je immers verder ‒ dat gold al toen we in 1811 als Onderlinge werden opgericht. Dus als je je op dit moment oriënteert op je eerste (of tweede) baan na je universitaire master Informatica, Wiskunde, Bedrijfskunde of andere relevante studierichting, weet dan dat je bij ons vanaf de eerste dag voor de volle honderd procent meedoet. 


      h3 Het Talentship 
      p Het Talentship IT bestaat uit een reguliere startersfunctie, maar dan met heel veel extra faciliteiten om alles uit jouw talent te halen. Zo is er een interessant aanbod vakgerelateerde opleidingen die precies worden afgestemd op de inhoud van je werk en wat je nog meer aan kennis en vaardigheden wilt ontwikkelen. Ook krijg je alle gelegenheid voor persoonlijke groei. Na ongeveer een jaar tot anderhalf jaar ben je klaar om je next steps te maken. Je stroomt dan door naar een mediorfunctie, en van daaruit werk je verder aan je carrière. De diepte van dit talentship is aantrekkelijk voor hbo’ers en wo’ers die een expert willen worden in een bepaald vakgebied, zoals security of big data.

      p Talentships starten één of twee keer per jaar. Meld je hier aan voor een #[a(href='https://www.werkenbijachmea.nl/Contact/Paginas/JobAlert.aspx') job alert] wanneer je weer kunt solliciteren.

      h3 Andere startersfuncties
      p Voor jonge hbo’ers of wo’ers met het juiste profiel hebben we bovendien met enige regelmaat diverse prachtige startersfuncties. Van IT en online marketing tot data-analyse. Aanstormende professionals kijken dus direct naar het #[a(href='https://www.werkenbijachmea.nl/Vacatures/Paginas/default.aspx') actuele vacatureaanbod].