extends ../layout

block content
  section.main.style1
    .container
      .row(class='0%')
        div(style='background: url(/images/dsw.jpg); background-size: 100% auto; position: absolute; right: 60px; margin-top: -20px; width: 180px; height: 90px;')

        h2 DSW Zorgverzekeraar
        h3 &nbsp;
        p DSW Zorgverzekeraar is een organisatie met een regionaal karakter die staat voor gemak, toegankelijke en betaalbare zorg en een goede service voor onze klanten. Wij zijn flexibel, eigenwijs en vernieuwend. Pas jij bij DSW?

        h3 Eigenzinnig in ICT
        p DSW ontwerpt, ontwikkelt en realiseert bijna alle applicaties die intern worden gebruikt zelf. Denk hierbij aan een debiteuren- en crediteurensysteem, een zorgkostendeclaratiesysteem of een klantenservice-applicatie. Het is dan ook niet vreemd dat de ICT-afdeling de grootste afdeling is. Ongeveer  een kwart  van de ruim 500 medewerkers werkt hier. 

        p Werken bij DSW Zorgverzekeraar betekent niet alleen dat je werkt met innovatieve systemen. Ook in onze dienstverlening aan verzekerden en zorgaanbieders zijn wij steeds gericht op vernieuwing en verbetering. Dit zie je terug in de opzet van onze systemen, maar ook in de gebruikte platforms en ontwikkeltools.

        h3 Bèta
        p Natuurlijk sluit een studie Informatica of iets vergelijkbaars het beste aan bij onze werkzaamheden. Maar ook als je een andere bètastudie hebt afgerond zoals Wiskunde, Lucht- en Ruimtevaarttechniek, Natuurkunde of Scheikunde, kan je bij ons beginnen als ICT-Trainee. Het belangrijkste vinden wij een goed logisch denkvermogen en jouw motivatie om onze ICT-afdeling naar een hoger niveau te helpen.

        h3 Nieuwsgierig?
        p Nieuwsgierig geworden naar DSW en de mogelijkheden die we jou kunnen bieden? Kijk dan eens op werkenbijdsw.nl. Hier vind je altijd ons actuele vacatureaanbod en kun je terecht voor meer informatie. Heb je vragen over werken bij DSW? Neem dan gerust contact op met Ernst de Pee via onderstaande contactgegevens. Maar het makkelijkste en leukste is natuurlijk om even bij onze stand langs te lopen op 23 november. Zien we je daar?

        p.
          DSW Zorgverzekeraar#[br]
          ’s-Gravelandseweg 555#[br]
          3119XT Schiedam#[br]
          #[br]
          Ernst de Pee#[br]
          M  ictwerving@dsw.nl#[br]
          T   010 2466 200