extends ../layout

block content
  h1=title
  p
    :i18n
      Zonder onze partners is het organiseren van een congres niet mogelijk. De volgende partners hebben zich bij ons congres aangesloten.
  .row
    //.col-xs-8.col-xs-offset-2.col-md-offset-0.col-md-4
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="/partners/topicus")
        img(src="/images/topicus.png")
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.procam.nl/")
        img(src="/images/procam.jpg")
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.asml.com/")
        img(src="/images/asml.jpg")
  .row
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.rabobank.nl/")
        img(src="/images/rabobank.jpg")
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.quinity.nl/")
        img(src="/images/quinity.jpg")
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.infosupport.com")
        img(src="/images/infosupport.png")
  .row
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.rijksoverheid.nl/")
            img(src="/images/rijksoverheid.png")
    .ad.col-xs-6.col-md-4
      a.thumbnail(href="http://www.capgemini.nl/")
            img(src="/images/capgemini.png")

//360 x 220