extends ../layout

block content
  section.main.style1.partners
    .container
      .row(class='0%')
        h2= t('partners.header')
        p= t('partners.text')
        
        .row.uniform(class='50%')
          .4u(class='6u$(medium)')
            //-a.thumbnail(href="/partners/topicus")
            a.thumbnail(href="http://www.topicus.nl/", target='_blank')
              span.image.fit
                img(src="/images/topicus.png")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.werkenbijortec.nl", target='_blank')
              span.image.fit
                img(src="/images/ortec.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="https://www.dsw.nl/werkenbij/home", target='_blank')
              span.image.fit
                img(src="/images/dsw.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="https://banen.bol.com/", target='_blank')
              span.image.fit
                img(src="/images/bolcom.jpg")
        
          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.optiver.com/amsterdam", target='_blank')
              span.image.fit
                img(src="/images/optiver.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.rabobank.nl/ict", target='_blank')
              span.image.fit
                img(src="/images/rabobank.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.werkenbijordina.nl/", target='_blank')
              span.image.fit
                img(src="/images/ordina.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.asml.com/careers", target='_blank')
              span.image.fit
                img(src="/images/asml.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.keylane.com", target='_blank')
              span.image.fit
                img(src="/images/keylane.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="https://ame.nu/", target='_blank')
              span.image.fit
                img(src="/images/ame.jpg")
          
          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.talentwings.nl", target='_blank')
              span.image.fit
                img(src="/images/procam.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.uu.nl", target='_blank')
              span.image.fit
                img(src="/images/uu.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="https://www.tue.nl/en/university/departments/mathematics-and-computer-science/", target='_blank')
              span.image.fit
                img(src="/images/tue.jpg")

          

          

