extends ../layout

block header
 header.hero.partners
      h2 Partners
      .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 "Let's disrupt together"
      .separator(role='separator')
      p
        | Since we can not organise this conference on our own we are happy to show our partners on this page. Without these partners it would have been impossible to give you this conference.
  section#platinum.slanted.background-snic-blue
    .content.container
      .row
        .twelve.colunms
          h2 Platinum partner
          .separator(role='separator')
          .box
            a(href='https://lifeatnedap.com/', target='_blank')
              img(src='/images/bedrijven/Logo_Nedap.png')
          p This year, Dutch tech multinational Nedap is proud to be SNiC’s main sponsor. Andre Foeken, CTO at Nedap Healthcare, is joining us at SNiC. The company employs around 800 people worldwide, 130 of which make up Nedap Healthcare. As well as empowering patients and doctors, Nedap creates interactive shopping experiences and industrial scale sustainable lighting solutions, provides security for major landmarks, helps farmers take care of their livestock, and even finds you a place to park your car. 
            a.white(href='/partners/nedap') Check out the company profile.
  section#gold.slanted.background-gold
    .content.container
      .row
        .twelve.colunms
          h2 Gold partners
          .separator(role='separator')
      .row
        .offset-by-two.four.columns
          .box
            a(href='/partners/achmea', target='_blank')
              img(src='/images/bedrijven/Logo_Achmea.png')
          p Verzekeren gaat in deze tijd wel wat verder dan je vakantie of ‘later’. Want hoe regelen we de aansprakelijkheid rond het gebruik van drones, de risico’s van zelfrijdende auto’s, of het uitlenen en verhuren van spullen in de deeleconomie? 
            a.white(href='partners/achmea') Lees verder op de bedrijfspagina.
        .four.columns
          .box
            a(href='https://www.werkenbijtopicus.nl/')
              img(src='/images/bedrijven/Logo_Topicus.png')
          p Topicus werkt in de sectoren Finance, Zorg, Overheid, Onderwijs en Legal. Wij zijn hier constant bezig om op alle vlakken voor verregaande verbeteringen te zorgen. De regie aan de burger geven en zelfredzaamheid vergroten, dat is onze ambitie. Dit doen we met toptalenten die met behulp van de nieuwste technologie briljante ICT oplossingen bedenken en bouwen. 
      .row
        .offset-by-four.four.columns
          .box
            a(href='https://home.kpmg.com/nl/nl/home/werken-bij-kpmg.html')
              img(src='/images/bedrijven/Logo_KPMG.png')
          p With a worldwide presence, KPMG continues to build on our member firms' successes thanks to our clear vision, maintained values, and their people. 
            a.white(href='/partners/KPMG') Check out the company profile (in Dutch)

  section#silver.slanted.background-silver
    .content.container
      .row
        .twelve.colunms
          h2 Silver partners
          .separator(role='separator')
      .row
        .four.columns
          .box
            a(href='https://www2.deloitte.com/nl/nl.html', target='_blank')
              img(src='/images/bedrijven/Logo_Deloitte.png')
        .four.columns
          .box
            a(href='https://www.ing.nl', target='_blank')
              img(src='/images/bedrijven/Logo_ING.png')
        .four.columns
          .box
            a(href='https://www.dsw.nl/werkenbij/vacatures', target='_blank')
              img(src='/images/bedrijven/Logo_DSW.png')
      .row
        .four.columns
          .box
            a(href='https://www.werkenvoornederland.nl/', target='_blank')
              img(src='/images/bedrijven/Logo_Overheid.png')
        .four.columns
          .box
            a(href='https://www.quintor.nl/carriere/', target='_blank')
              img(src='/images/bedrijven/Logo_Quintor.png')
        .four.columns
          .box
            a(href='http://www.talentwings.nl/', target='_blank')
              img(src='/images/bedrijven/Logo_Procam.png')
  section#other.slanted
    .content.container
      .row
        .twelve.colunms
          h2 Bronze partners
          .separator(role='separator')
      .row
        .four.columns
          .box
            a(href='https://www.asml.com', target='_blank')
              img(src='/images/bedrijven/Logo_ASML.png')
        .four.columns
          .box
            a(href='https://www.simplicate.nl/', target='_blank')
              img(src='/images/bedrijven/Logo_Simplicate.png')
        .four.columns
          .box
            a(href='http://werkenbijbelsimpel.nl/', target='_blank')
              img(src='/images/bedrijven/Logo_Belsimpel.png')
