extends ../layout

block content
  h1=title
  p
    :i18n
      Zonder onze partners is het organiseren van een congres niet mogelijk. De volgende partners hebben zich bij ons congres aangesloten.
  .row
    .col-xs-12.col-md-4
      a.thumbnail(href="/partners/topicus")
        img(src="/images/topicus.png")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="/images/procam.jpg")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="/images/asml.jpg")
  .row
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="/images/rabobank.jpg")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="/images/quinity.jpg")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="/images/infosupport.png")


          