extends ../layout

block header
 header.hero.partners
      h2 Partners
      .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 "Let's disrupt together"
      .separator(role='separator')
      p
        | Since we can not organise this conference on our own we are happy to show our partners on this page. Without these partners it would have been impossible to give you this conference.
  section#platinum.slanted.background-snic-blue
    .content.container
      .row
        .twelve.colunms
          h2 Platinum partner
          .separator(role='separator')
          .box
            a(href='https://www.nedap.com/', target='_blank')
              img(src='/images/Logo_Nedap.jpg')
          p
            | City accessibility in a time of continuous population growth. Quality healthcare in the face of shrinking budgets. Security requirements in a world with increasing risks. These are just a few of the issues that Nedap people work on each day. We believe that disrutpive technologies can provide an important contribution to resolve major issues. We will keep working on finding new solutions every day. Interested and want to read more? Check out our 
            a.white(href='nedap.html') company profile.
  section#gold.slanted.background-gold
    .content.container
      .row
        .twelve.colunms
          h2 Gold partners
          .separator(role='separator')
      .row
        .offset-by-three.six.columns
          .box
            a(href='https://www.achmea.nl/', target='_blank')
              img(src='/images/Logo_Achmea.jpg')
          p
            | Do you want to help build the Achmea of the future? Achmea is currently working on adapting itself to a new world. Our social role in which we help people to deal with risks won’t change, but the way we perform it will. We are a leading service provider with daily relevance for our customers. We provide insight into uncertainties and offer appropriate solutions for dealing with them. We have to do this, and still provide the best service, like we have done for more than 200 years. Do you want to read more about Achmea? Take a look at their 
            a.white(href='achmea.html') company profile.
  section#silver.slanted.background-silver
    .content.container
      .row
        .twelve.colunms
          h2 Silver partners
          .separator(role='separator')
      .row
        .four.columns
          .box
            a(href='https://www2.deloitte.com/nl/nl.html', target='_blank')
              img(src='/images/Logo_Deloitte.jpg')
        .four.columns
          .box
            a(href='https://www.ing.nl', target='_blank')
              img(src='/images/Logo_ING.jpg')
        .four.columns
          .box
            a(href='http://www.talentwings.nl/', target='_blank')
              img(src='/images/Logo_Procam.jpg')
  section#other.slanted
    .content.container
      .row
        .twelve.colunms
          h2 Bronze partners
          .separator(role='separator')
      .row
        .offset-by-two.four.columns
          .box
            a(href='https://www.asml.com', target='_blank')
              img(src='/images/Logo-ASML.png')
        .four.columns
          .box
            a(href='https://www.simplicate.nl/', target='_blank')
              img(src='/images/Logo_Simplicate.jpg')
