extends ../layout

block content
  section.main.style1.partners
    .container
      .row(class='0%')
        h2= t('partners.header')
        p= t('partners.text')
        
        .row.uniform(class='50%')
          .4u(class='6u$(medium)')
            //-a.thumbnail(href="/partners/topicus")
            a.thumbnail(href="http://www.topicus.nl/", target='_blank')
              span.image.fit
                img(src="/images/topicus.png")
       
          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.asml.com/", target='_blank')
              span.image.fit
                img(src="/images/asml.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.bol.com", target='_blank')
              span.image.fit
                img(src="/images/bolcom.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.quinity.nl/", target='_blank')
              span.image.fit
                img(src="/images/quinity.png")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.optiver.com", target='_blank')
              span.image.fit
                img(src="/images/optiver.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://ordina.nl/", target='_blank')
              span.image.fit
                img(src="/images/ordina.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.ortec.nl/", target='_blank')
              span.image.fit
                img(src="/images/ortec.jpg")
        
          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.procam.nl/", target='_blank')
              span.image.fit
                img(src="/images/procam.jpg")

          .4u(class='6u$(medium)')
            a.thumbnail(href="http://www.rabobank.nl/", target='_blank')
              span.image.fit
                img(src="/images/rabobank.jpg")

          

