extends ../layout
block above-content

block header 

block content
  section.intro.slanted
    .content
      h3 Optelsom van talenten 
      p KPMG is een thuis voor talenten met persoonlijkheid. Met de meest uiteenlopende competenties. Wat je interessegebied ook is, samen met je team pak je uitdagingen op voor de meest uiteenlopende organisaties. En geef je antwoord op complexe vraagstukken van nu en van morgen. Met resultaten waar je later trots op terugkijkt. Wil jij het verschil maken voor bedrijven, markten en overheden die ertoe doen? Dan is KPMG de plek om je ambities waar te maken. 
     
      h3 Jij en KPMG 
      p In ruim een eeuw zijn we uitgegroeid van één Nederlands kantoor tot een organisatie met ruim 170.000 gedreven professionals wereldwijd. Een omgeving die je inspireert om het beste uit jezelf te halen. Voor ieder project brengen we hiervoor de ideale combinatie van talenten samen. Vanaf dag één ben je een volwaardig onderdeel van het team en zit je met de beslissers aan tafel. Speel mee in een cultuur waar we samen de schouders eronder zetten, veranderingen waarmaken én successen vieren.  
       
      h3 Welkom bij KPMG Advisory 
      p Geef je carrière een vliegende start. Dit is je kans om een waardevolle ervaring op te doen in consultancy. Afhankelijk van je universitaire studie draai je als volwaardig collega mee op uiteenlopende projecten binnen de werkvelden Technology, Strategy & Operations, Risk & Regulatory of Deals & Finance. Je kunt werken aan vraagstukken op het gebied van innovatie, cyber, big data en duurzaamheid, in diverse aansprekende sectoren. Met resultaten waar je later trots op terugkijkt. Geen dag is hetzelfde. Je krijgt intensieve ‘on the job’ begeleiding van ervaren professionals en volgt gerichte opleidingen en trainingen. En je leert KPMG en veel andere organisaties van binnenuit kennen.  
       
      h3 Hier werk je voor  
      p Bij KPMG werk je mét en vóór de meest uiteenlopende organisaties. Multinationals die de wereld voeden. Bedrijven die ervoor zorgen dat we kunnen wonen, werken en reizen. Financials die de economie draaiende houden. Zo team je altijd met een bedrijf dat past bij jouw ambities. Voor wie je het ook doet, je gaat voor het best mogelijke resultaat. In samenwerking met de klant en je collega’s, vanuit je kracht om strategisch en analytisch te denken. Waarin elke vernieuwing duurzaam is en verbetering een continu proces. 
       
      h3 Investeer in jezelf. Kom bij KPMG. 
      p Ben je analytisch, ondernemend, nieuwsgierig en een echte teamplayer? Heb je een afgeronde universitaire opleiding die technisch, analytisch of financieel gerelateerd is? En ben jij op zoek naar een kick-start van je carrière? Dan willen we graag met je kennismaken. Neem contact op met ons Recruitment team via onze website of social media. Je kunt ook bellen #[a(href='tel://+31206567162') (020) 656 7162] of een #[a(href='mailto:recruitment@kpmg.nl') mail] sturen. 
