extends ../layout
block above-content

block header 
  header.hero.nedap
    h2 Nedap
    .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 Disrupt with Nedap!
      .separator(role='separator')
      p
        | City accessibility in a time of continuous population growth. Quality healthcare in the face of shrinking budgets. Security requirements in a world with increasing risks. These are just a few of the issues that Nedap people work on each day. We believe that disrutpive technologies can provide an important contribution to resolve major issues. We will keep working on finding new solutions every day.
