block title
  | Topicus
  
extends ../layout

block content
  section.main.style1
    .container
      .row(class='0%')
        div(style='background: url(/images/ortec.jpg); background-size: 100% auto; position: absolute; right: 60px; margin-top: -30px; width: 200px; height: 90px;')

        h2 Ortec

        h3 OPTIMIZE YOUR CAREER
        p Niet voor niets is onze pay off “Optimize your world”. Bij ORTEC werken we aan complexe optimalisatie vraagstukken in alle sectoren van de samenleving en voor allerlei bedrijven. Van de zorgsector tot de olie en gasindustrie van transportbedrijven tot frisdrankfabrikanten. Overal waar een dienst geleverd, een product gemaakt of een proces uitgevoerd kunnen wij er voor zorgen dat het beter, goedkoper en met minder uitstoot gaat.
        p Wij bouwen geavanceerde planningsystemen voor personeel, supply chains, productieprocessen en we leveren high end consultancydiensten waarmee we bijvoorbeeld het rendement van luchtvaartmaatschappijen verbeteren, patiëntenstromen in ziekenhuizen efficiënter maken en we meer treinen op tijd laten rijden. Dat doen wij met behulp van complexe wiskundige modellen en algoritmes waarin we simulaties kunnen maken van bijvoorbeeld bedrijfsprocessen, transportstromen, de belading van vrachtauto’s en roosters. Hiermee helpen wij de klant de optimale keuze te maken die het beste past bij zijn bedrijf of zijn strategie. Voor sommige klanten doen we dat dagelijks, voor sommige klanten een keer per jaar en voor sommige klanten miljoenen keren per uur.
        
        h3 Internationaal
        p Wereldwijd maken meer dan 1800 bedrijven gebruik van onze producten en diensten, zoals BP, Coca- Cola Enterprises, TNT, Ahold en KLM. ORTEC is een internationaal bedrijf. Sinds onze oprichting, in 1981, zijn we gegroeid naar meer dan 750 medewerkers in Nederland, België, Duitsland, Frankrijk, Engeland, Roemenië, Italië, de Verenigde Staten, Australië en Brazilië.
        
        h3 Studenten
        p Bij ORTEC werken veel studenten. Studenten brengen vaak nieuwe inzichten en een frisse kijk op het vak. Sommige studenten schrijven bij ons hun afstudeerscriptie en andere werken enkele dagen per week als student assistent. Als student krijg je volop de kans om je studie in praktijk te brengen. Maar je staat er nooit alleen voor. Je kunt altijd rekenen op je collega’s: experts op het gebied van complexe optimalisatievraagstukken. Hoogopgeleiden, die weten wat ze doen en jou naar een hoger niveau kunnen brengen. Daarnaast krijg je bij ons een interne begeleider/coach toegewezen en een eigen werkplek in een boeiende omgeving.
        
        h3 Wie zoeken wij?
        p ORTEC groeit hard en is daarom op zoek naar enthousiaste studenten of afgestudeerden die de ruimte zoeken om zich te ontwikkelen, problemen willen begrijpen én oplossen, en willen bijdragen aan de volgende generatie optimalisatietechnologie. De meest voorkomende startersfuncties zijn Software Engineer, Implementatie Consultant en (Business) Consultant.
        p Om deze functies in te vullen zoeken wij ambitieuze bèta’s uit de studierichtingen: Informatica, Operations Research, Wiskunde of vergelijkbaar.
        p Ook zijn we zeer geïnteresseerd in bèta’s met een andere achtergrond maar wel met een uitstekend wiskundig inzicht en affiniteit met IT en logistieke processen. Omdat we in vele sectoren actief zijn, kunnen we bijna altijd rekening houden met je persoonlijke voorkeuren zodat jij je binnen een bepaald deelgebied kunt specialiseren.
        
        h3 Meer informatie of solliciteren
        p We hebben een groot aantal carrièremogelijkheden voor studenten en starters. Wil jij weten welke? Kijk dan op #[a(href='http://www.werkenbijortec.nl', target='_blank') www.werkenbijortec.nl]. Staat jouw ideale functie er niet bij, stuur dan een open sollicitatie naar #[a(href='mailto:recruitment@ortec.com') recruitment@ortec.com].
        
        p.
          ORTEC bv#[br]
          Houtsingel 5,#[br]
          2917 EA Zoetermeer#[br]
          Tel: +31 (0) 88 6783265