extends layout
block content
  h1 Rijksoverheid Beroepsgroep ICT
  h3 Help jij Nederland in de lucht te houden?

  p
    i ICT'er met hart voor de publieke zaak.

  p.
    Het Nederland van nu zoekt ICT’ers. Bij de Rijksoverheid werk je als ICT-specialist aan belangrijke
    thema’s als privacy, security en cybercrime. Ook draag je bij aan ontwikkelingen in big data, cloud-
    oplossingen en bring your own device. Zo werk je mee aan het Nederland van nu. De Rijksoverheid 
    is altijd op zoek naar ICT-talent en specialisten. Heb jij talent en hart voor de publieke zaak? Dan is 
    er vast een werkplek voor je bij 1 van de ministeries, uitvoeringsorganisaties of Hoge Colleges van 
    Staat.
 
  h2 De Rijksoverheid
  p.
    De Rijksoverheid is de verzamelnaam voor 11 ministeries, tientallen uitvoeringsdiensten zoals 
    de Belastingdienst, Rijkswaterstaat of de Algemene Inlichtingen- en Veiligheidsdienst (AIVD) en 
    diverse zelfstandige Hoge Colleges van Staat, zoals de Raad van State. Met nationaal 115.000 en 
    internationaal 4.500 medewerkers zijn wij 1 van de grootste werkgevers van Nederland. 

  h2 Door heel Nederland
  p.
    Wie ‘Rijksoverheid’ hoort, denkt vaak ‘Den Haag’. En dat is ook de plaats waar de ministeries en 
    de meeste diensten en colleges zijn gevestigd. Maar dat wil niet zeggen dat je bij de Rijksoverheid 
    altijd in Den Haag werkt. Integendeel. De Rijksoverheid is overal in het land te vinden. Denk maar 
    aan de penitentiaire inrichtingen, de Belastingdienst en de verschillende inspecties.

  h2 Privacy en security
  p.
    Wil jij meewerken aan de publieke zaak op het moment dat een bedrijf gehackt wordt? Weet jij 
    hoe te handelen in het geval van een reële cyberaanval? En help jij graag mee met het beveiligen 
    van vele netwerken tegelijkertijd? Bij de Rijksoverheid speelt er veel op het gebied van privacy en 
    security. Je lost actuele kwesties en acute incidenten snel op en pakt ook structurele problemen 
    aan. Zo zorg jij ervoor dat collega’s en burgers hun werk goed en veilig kunnen doen.

  h2 Bouwen aan je carrière
  p.
    Bij de Rijksoverheid bepaal je zelf hoeveel tijd je in je ontwikkeling steekt, op welke manier je
    carrière maakt en hoe snel. Bijvoorbeeld door opleidingen en trainingen te volgen. Maar ook door 
    een kijkje te nemen bij andere onderdelen van de Rijksoverheid. Want al kan je ervoor kiezen te 
    specialiseren, je zit niet vast aan je werkplek. De vraag is niet welke kant je op kunt gaan, maar 
    welke kant je op wílt gaan. Heb je lef, wilskracht en ambitie? Dan maak je zo de overstap naar een 
    andere functie of ander onderdeel.

  h2 Goede arbeidsvoorwaarden
  p.
    Werken voor Nederland betekent bouwen aan de publieke zaak en bouwen aan je carrière. 
    Behalve dat de Rijksoverheid in je investeert door trainingen en opleidingen, bieden we goede 
    arbeidsvoorwaarden. Zo krijg je volop mogelijkheden om werk en privé in balans te houden. 
    Uiteraard is de salariëring prima in orde. Net als de secundaire arbeidsvoorwaarden zoals de 
    vergoeding van reis- en studiekosten.

  h2 Wij zoeken
  p.
    Werken voor Nederland betekent werken voor een complexe samenleving waar elke dag tal van
    ingewikkelde beslissingen worden genomen. Om te helpen met het oplossen van de vraagstukken 
    van vandaag en morgen zijn wij continu op zoek naar ICT’ers met kennis van zaken, een kritische 
    blik en ambitie.

  p.
    Dus zoek je een baan, stageplaats of traineeship? En wil je werken voor Nederland? Denk dan eens
    aan een carrière als ICT'er bij de Rijksoveheid.

  p
    | Meer informatie over onze organisatie en jouw mogelijkheden kan je terugvinden op
    a(href='http://www.werkenvoornederland.nl/ict') www.werkenvoornederland.nl/ict
  p Werken voor Nederland
