extends ../layout

block content
  section.main.style1
    .container
      .row(class='0%')
        div(style='background: url(/images/topicus.png); background-size: 100% auto; position: absolute; right: 60px; margin-top: -20px; width: 180px; height: 90px;')

        h2 Topicus
        h3 &nbsp;
        p
          | Ben jij op zoek naar een plek waar je jouw talent kan laten zien en verder mag ontwikkelen in een gezellig team van vakgenoten? Kom dan gerust bij ons
          | langs, of het nu gaat om een stage-afstudeeropdracht of (bij)baan, onze 550 medewerkers in Deventer, Enschede, Leiden, Nijmegen en Zwolle staan voor je
          | klaar.
        h3 Wat doet Topicus?
        p
          | Topicus is een ICT-dienstverlener die webgebaseerde ICT-systemen maakt voor de sectoren Finance, Zorg, Onderwijs en Overheid. Deze systemen worden gemaakt
          | in .NET en Java. E&eacute;n ding hebben ze gemeen: ze maken de wereld gemakkelijker en effici&euml;nter.
        h3 Onze cultuur
        p
          | We werken in Scrumteams, met een informele sfeer. Op technisch vlak experimenteren we bijvoorbeeld met mobile development, Open Source frameworks, big
          | data, security en MVC frameworks. Er wordt veel ruimte geboden voor ontwikkeling van nieuwe business concepten, ondernemerschap en creatieve uitspattingen.
          | Dus deel je briljante idee&euml;n en maak deze tot werkelijkheid. Onze eigen bier de Topicus Gifkikker en het Apache Wicket open source framework zijn hier
          | voorbeelden van.
        p
          | En na het werk? Genoeg te doen, want er worden regelmatig film- en gameavonden, sportevenementen en andere uitjes door collega&rsquo;s georganiseerd.
        h3 Stages of afstuderen 
        p
          | Als talentvolle ICT-student ben je ook van harte welkom om je 
          a(href='http://topicus.nl/werken/vacatures-2/', target='_blank') stage- of afstudeeropdracht
          |  bij ons uit
          |     te voeren. We begeleiden jaarlijks meer dan 50 WO en HBO studenten, van het samen cre&euml;ren van de opdracht, de uitvoering tot een training
          |     presentatietechniek. We brengen je in contact met de andere studenten en experts in het vakgebied en bieden jou de mogelijkheid om in korte tijd snel te
          |     groeien.
        h3 Op zoek naar een baan?
        p
          | Onze medewerkers laten doorgroeien is de sleutel voor ons toekomstige succes. Dit werkt: we hebben nauwelijks verloop en tegelijkertijd is er een goede
          | instroom van jong talent. Dus ben jij bijna of net afgestudeerd en op zoek naar een baan? Topicus heeft permanent    
          a(href='http://topicus.nl/werken/vacatures-2/') vacatures
          |  open staan. Weet je nog niet precies wat je wilt? Kom gerust langs, dan kijken we samen waar
          |     jij je talenten kunt laten gelden.
        h3 Contact
        p
          | Wil je meer weten over ons of ben je benieuwd naar jouw mogelijkheden? Kijk op onze website 
          a(href='http://www.topicus.nl', target='_blank') www.topicus.nl
          | , of neem
          |     direct contact op met Sabine Oude Booijink via 0570 &ndash; 662 662 of sollicitatie@topicus.nl.

