block title
  | Topicus
extends layout

block descr
  h1 Topicus
  p.
    Topicus is een ICT dienstverlener gevestigd in het centrum van Deventer en Zwolle. 
    cellenstructuur met maximaal 25 medewerkers per team blijkt optimaal voor 
    de sfeer en de cultuur: klein genoeg om lekker persoonlijk te blijven, maar groot 
    genoeg om uitdagende projecten aan te gaan, want we zijn inmiddels wel tot meer 
    dan 450 medewerkers gegroeid.

  h2 Wat we doen
  p.
    Wij bouwen volledig web gebaseerde ICT-systemen voor de sectoren zorg, 
    onderwijs, finance en overheid in Java of .NET. Dankzij onze op Agile en SCRUM 
    gebaseerde projectaanpak, de sterke technische basis en uitgebreide domeinkennis 
    zijn we in staat snel en doelgericht projecten te verwerven en te realiseren. Bij het 
    realiseren van deze systemen puzzelen we graag met vraagstukken over security, 
    privacy, architectuur, requirements, big data en usability en maken daarbij graag 
    gebruik van de nieuwste technologieën.

  h2 Topicus voor studenten en young professionals
  p
    :markdown
      Topicus begeleidt jaarlijks circa 50 WO- en HBO studenten met hun stage- of
      afstudeeropdracht. Een selectie van de openstaande opdrachten is te vinden op 
      onze [website](http://www.topicus.nl/).

  p.
    Voor startende ICT professionals hebben wij altijd vacatures open staan binnen het 
    vakgebied software ontwikkeling en -analyse. Als teamlid maak je actief deel uit van 
    een projectteam, waarin je meewerkt EN meedenkt naar nieuwe oplossingen voor 
    uitdagende ICT-projecten.

  h2 Ontwikkel je talent
  p.
    Onze medewerkers laten doorgroeien is de sleutel voor ons toekomstige succes. Dat 
    dit werkt hebben we gemerkt: nauwelijks verloop en een goede instroom van jong 
    talent. Talent werkt graag met talent. Bij Topicus krijg je de ruimte om je te 
    ontwikkelen en het beste uit jezelf te halen. Mocht je het willen, dan word je actief 
    betrokken bij op maat gesneden programma’s om kennis en vaardigheden te 
    trainen. Topicus werkt daarvoor samen met Universiteiten, Hogescholen en 
    specialistische onderwijsinstellingen.

  h2 Ruimte voor ideeën

  p.
    Binnen Topicus wordt veel ruimte geboden voor ontwikkeling van nieuwe business 
    concepten, technologische vooruitgang, ondernemerschap en creatieve 
    uitspattingen. Als je een goed idee hebt, geeft Topicus jou tijd voor research en 
    toepassing binnen projecten. Zo hebben we bijvoorbeeld ons eigen bier de Gifkikker 
    gebrouwen (en drinken deze tijdens de maandelijkse borrel) en onze eigen 
    pizzahoutoven die in onze tuin is gebouwd.

  p
    :markdown
      De deur staat voor slimme analisten en ontwikkelaars altijd wagenwijd open. Kijk
      voor vacatures en afstudeeropdrachten op [www.topicus.nl](http://www.topicus.nl/) of neem contact op met 
      Sabine Oude Booijink via [sabine.oude.booijink@topicus.nl](mailto:sabine.oude.booijink@topicus.nl).