extends ../layout

block above-content

block header 
  header.hero.topicus
    h2 Topicus
block content
  section.intro.slanted
    .content
      p Nergens wordt zo enthousiast gewerkt aan digitale oplossingen die de zelfredzaamheid van de burger vergroten. Wij richten ons op belangrijke maatschappelijke vlakken als Zorg, Finance, Overheid, Legal, Security en Onderwijs. Bijna iedereen in Nederland komt in aanraking met onze nuttige en vooruitstrevende digitale producten. 
      
      h3 Stage en afstuderen
      p Om tot nieuwe inzichten te komen begeleiden we jaarlijks zo'n 100 wo- en hbo studenten met hun #[a(href='https://www.werkenbijtopicus.nl/stages-afstuderen-bijbaan/') stage- of afstudeeropdracht]. Je krijgt de kans om meteen volwaardig mee te werken aan een van onze uitdagende projecten. Daar leer je het snelst van je ervaren teamleden én kun je echt meewerken aan nieuwe ideeën voor uitdagende ICT-projecten. We werken nauw samen met diverse onderwijsinstellingen en universiteiten en kennen de geldende kaders van jouw opleiding. Ook brengen we je in contact met collega-studenten zodat je er nooit alleen voor staat. Je eindpresentatie wordt er een om nooit te vergeten, want je die doe je tijdens ons drukbezochte stage- afstudeercongres. Om je daarop voor te bereiden krijg je van ons een uiterst nuttige training presentatietechniek cadeau.
      
      h3 Kansen volop!
      p De sfeer is hier ongedwongen en informeel. Toch wordt er serieus en professioneel aan kleine en grote projecten gewerkt. Maar er is ook ruimte voor ontwikkeling van ondernemerschap en creatieve uitspattingen. We vinden het te gek als je het experiment niet schuwt. Van #[a(href='https://www.youtube.com/watch?v=2c8dwMEyYNE') Hackathons] (kom maar op met je ideeën) tot het brouwen van een biertje (#[a(href='https://www.youtube.com/watch?v=jumtJyBnheQ&t=1s') onze eigen Gifkikker]). Die combinatie maakt dat we een gewilde werkplek voor veel studenten en starters zijn. Sowieso kennen we weinig verloop, dus bedenk goed of je bij ons binnen wilt stappen 😊. 
      
      h3 Laat je zien
      p Bij Topicus kun je echt laten zien waar jij goed in bent. Werk mee aan vraagstukken die ons dagelijks leven echt raken. Zet jezelf in beeld, kijk op #[a(href='http://www.werkenbijtopicus.nl') www.werkenbijtopicus.nl] of neem telefonisch contact op met Monica Verkerk via 0570-662662 of mail naar #[a(href='mailto:monica.verkerk@topicus.nl') monica.verkerk@topicus.nl].
