extends layout

mixin ticket(ticket)
  if ticket
    .ticket
      div.content
        h2 DisruptIT Ticket
        p This is your DisruptIT ticket. Showing this ticket at the entrance will then give you access to the event.#[br/]When you loose this ticket you can re-print it from the website by logging in.
        div.block
          label Activationcode
          strong #{ticket._id}

        if ticket.ownedBy
          div.block
            label Visitor
            strong= ucfirst(user.firstname) + ' ' + user.surname

        
        div.footer
          span.time 11:30
          span November 15, 2015

        img(src="/tickets/#{ticket._id}/barcode", width=220, height=25)

      div.aside
        div

        img(src='/images/topicus-ticket.png', width=55, style='position: absolute; bottom: 10px; right: 16px;')

      br(clear='all')

mixin activationcode(ticket)
  if ticket
    .ticket.ophaal
      div.content
        h2 Activationcode
        p Use this code to print your ticket at #[u= 'http://disrupt-it.nl/'].

        div.footer
          span.time= ticket._id

      div.aside
        div

      br(clear='all')

block content
  - for (var i = 0, x = 10; i < tickets.length; i += x)
    div
     - for (var j = 0; j < x; j++)
      +activationcode(tickets[i+j])
    footer
