mixin ticket(ticket)
  h1 AnonymIT ticket
  h2 Activatiecode:
    strong #{ticket._id}
  p Acitveer je ticket op http://anonymit.nl/.
  p Blah todo explain
  img(src="/tickets/#{ticket._id}/barcode")

extends layout
block content
  style.
    @media print {
      footer {
        page-break-after: always;
      }
    }
  - for (var i = 0, x = 2; i < tickets.length; i += x)
     - for (var j = 0; j < x; j++)
      +ticket(tickets[i+j])
    footer
