mixin ticket(ticket)
  if ticket
    .ticket
      h2 TICKET AUTONOMIT
      p Activatiecode: 
        strong #{ticket._id}
      p Activeer je ticket op 
        u http://autonom.it/
        |. Dit ticket is tevens je toegangsbewijs.
        br
        | Als je dit ticket kwijtraakt kun je hem via de website opnieuw printen door in te loggen.
      img(src="/tickets/#{ticket._id}/barcode")

extends layout
block content
  - for (var i = 0, x = 3; i < tickets.length; i += x)
    div
     - for (var j = 0; j < x; j++)
      +ticket(tickets[i+j])
    footer
