doctype html

html
  head
    style.
      @import url(//fonts.googleapis.com/css?family=Roboto:400,100,300);
      @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
      h2 {
        font-size: 20px;
      }
      h1,h2 {
        font-weight: 100;
        font-family: Roboto;
      }
      body {
        font-family: "Open Sans";
        margin-left: 80px;
      }
  body
    block content