doctype html

html
  head
    style.
      /* Layout */
      .ticket {
        width: 550px;
        margin: 1px 0 0;
        padding: 0;
        outline: 1px dashed rgba(185,185,185,1);
        position: relative;
      }

      .ticket .content {
        float: left;
        padding: 15px;
        width: 400px;
        height: 0px
      }

      .ticket .aside {
        float: right;
        height: 300px;
        margin: 0 -1px -1px 0;
        width: 115px;
        background-color: #00bab3;
        -webkit-print-color-adjust: exact;
        position: relative;
        z-index: 2;
      }

      .ticket .aside > div {
        background: url(/images/logo.svg);
        background-size: 80px 72px;
        width: 80px;
        height: 60px;
        position: absolute;
        top: 13px; 
        right:14px;
        -webkit-print-color-adjust: exact;
      }

      .ticket-details {
        display: flex;
        flex-direction: row;
        align-items: start;
      }

      .detail{
        margin: 0px 10px;
        line-height: 1.2em;
        height: 3.5em;
      }

      .detail.nedap{
        margin: 12px auto;
      }

      .barcode {
        margin-top: 10px;
        width: 80%;
      }

      .barcode img {
        width: 100%;
        height: auto;
      }

      /* Fonts */
      @font-face {
        font-family: 'Glacial Indifference';
        src: url('/fonts/GlacialIndifference-Italic.eot');
        src: local('Glacial Indifference Italic'), local('GlacialIndifference-Italic'),
          url('/fonts/GlacialIndifference-Italic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/GlacialIndifference-Italic.woff') format('woff'),
          url('/fonts/GlacialIndifference-Italic.ttf') format('truetype'),
          url('/fonts/GlacialIndifference-Italic.svg#GlacialIndifference-Italic') format('svg');
        font-weight: normal;
        font-style: italic;
      }

      @font-face {
        font-family: 'Glacial Indifference';
        src: url('/fonts/GlacialIndifference-Regular.eot');
        src: local('Glacial Indifference Regular'), local('GlacialIndifference-Regular'),
          url('/fonts/GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fonts/GlacialIndifference-Regular.woff') format('woff'),
          url('/fonts/GlacialIndifference-Regular.ttf') format('truetype'),
          url('/fonts/GlacialIndifference-Regular.svg#GlacialIndifference-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Glacial Indifference';
        src: url('/fonts/GlacialIndifference-Bold.eot');
        src: local('Glacial Indifference-Bold'), local('GlacialIndifference-Bold'),
          url('/fonts/GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/GlacialIndifference-Bold.woff') format('woff'),
          url('/fonts/GlacialIndifference-Bold.ttf') format('truetype'),
          url('/fonts/GlacialIndifference-Bold.svg#GlacialIndifference-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
      }

      /* Design */
      body {
        font-family: 'Glacial Indifference', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 1rem;
        color: #555;
        margin: 20px;
      }

      h2 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 1.75em;
        color: #00bab3;
      }
      html { 
        font-size: 100%; 
        -webkit-text-size-adjust: 100%; 
        -ms-text-size-adjust: 100%; 
        height: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
      }

      u, strong {
        color: #00bab3;
      }

      p {
        padding: 0;
        margin: 5px 0 15px 0;
      }

      label {
        display: block;
        font-size: 1em;
        font-weight: bold;
      }

      label + strong {
        letter-spacing: .8px;
        font-size: 1.25em;
      }



      @media print {
        .ticket {
          outline: none;
        }
        .ticket::before, .ticket::after {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;
          position: absolute;
          top: -15px;
          left: -15px;
        }
        .ticket::before {
          border-top: 1px solid #ccc;
          border-bottom: none;
          bottom: -17px;
          top: auto;
        }
      }

  body
    block content