extends layout

mixin ticket(ticket)
  if ticket
    .ticket
      div.content
        h2 DisruptIT Ticket
        p Showing this ticket at the entrance will give you access to the event. When you lose this ticket you can re-print it from the website by logging in.

        .ticket-details
          if ticket.ownedBy
            .detail
              label Visitor
              strong= ucfirst(user.firstname) + ' ' + user.surname
          .detail
            label Activationcode
            strong #{ticket._id}

        .ticket-details
          .barcode
            - var imgStr = "/tickets/" + ticket._id + "/barcode"
            img(src=imgStr)

        .ticket-details
          .detail
            p!= "Opening at 11:00 </br> November 15, 2017"
          .detail.nedap
            img(src='/images/bedrijven/Banner_Nedap.png', width=200)

      div.aside
        div

        //img(src='/images/bedrijven/nedap_color.png', width=55, style='position: absolute; bottom: 10px; right: 16px;')

      br(clear='all')

block content
  div
    +ticket(ticket)