**/config.json
*.sublime-project
*.sublime-workspace
*.swp
**/.psci_modules
**/public/css/*.min.css
**/public/js/*.min.js
*.log
**/node_modules/localhost.daplie.me-certificates/*
**/node_modules/.bin
*.pem
**/partnerAttendees.json
**/attendees.json
**/users.json
**/matching.json
*.csv
