extends layout

mixin person(attr)
  img.text-center.img-circle(style="width:140px;height:140px;",src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+")
  h2=attr.name
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugiat delectus vel reprehenderit consequatur ad a perferendis possimus magnam facilis. Non officia alias placeat nulla, aut quas quos nisi quae.

block content
  h1= title
  .row
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})
  .row
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})
    .col-md-3
      +person({name:'Arian van Putten'})