extends layout

block content
  section.main.style1
    .container
      .row(class='0%')
        h2= t('location.header')

        h3 Evoluon
        != t('location.text', {postProcess: 'jade'})

        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39783.403487178926!2d5.466597530573365!3d51.44966033551295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d9651e26bfbb%3A0x2a5be19a8f135bf0!2sKora+at+Evoluon!5e0!3m2!1snl!2snl!4v1447624749129", width="100%", height="400", frameborder="0", style="border:0", allowfullscreen)

        br(clear='all')
        br(clear='all')

        h3= t('location.buses.header')
        != t('location.buses.text', {postProcess: 'jade'})

        br(clear='all')
        br(clear='all')

        h3= t('location.publictransport.header')
        != t('location.publictransport.text', {postProcess: 'jade'})