extends layout

mixin speakerCount(lezing, title)
  script(type='text/javascript')
    | google.load("visualization", "1", {packages: ["corechart"]});
    | google.setOnLoadCallback(drawChart);
    | function drawChart() {
    |   var data = google.visualization.arrayToDataTable([
    |     ['Talk', 'Choice'],
    if lezing[0]
      +speakerData(lezing[0])
    if lezing[1]
      +speakerData(lezing[1])
    if lezing[2]
      +speakerData(lezing[2])
    if lezing[3]
      +speakerData(lezing[3])
    if lezing[4]
      +speakerData(lezing[4])
    |   ]);
    |   var options = {
    !=   "title: '" + title + "',"
    |     is3D: true,
    |     chartArea: {height: '90%'},
    |     legend: {alignment: 'center'},
    |   };
    !=  "var chart = new google.visualization.PieChart(document.getElementById('" + title + "'));"
    |   chart.draw(data, options);
    | }
  div(id!=title, style='width: 100%; height: 300px;')

mixin speakerData(lezing)
  if lezing._id == ''
    -lezing._id = 'Geen voorkeur'

  if lezing._id !== null
    != "['" + lezing._id + "', " + lezing.count + "],"

block above-content

block header
    header.text
        h2 Choices

block content
  section.main.style1
    .container
      .row(class='0%')
        script(type='text/javascript', src='https://www.google.com/jsapi')
        -visitorCount = 0
        -count = 0
        -val = 0
        while val < session1.length
          if session1[val] && session1[val]._id != null
            -count += session1[val].count
          -visitorCount = visitorCount + session1[val].count
          -val = val + 1
          

        h2
          = 'Lezingkeuzes'
          small
            = '(' + count + ' ingevuld)'
        p.text-center= 'on a total of ' + visitorCount + ' visitors'

        +speakerCount(session1, "session1")
        +speakerCount(session2, "session2")
        +speakerCount(session3, "session3")
