extends layout
block above-content

block header

block content
  section.intro.slanted
    .content.connectbetter
      h2 Connect better
      .separator(role='separator')
      p One of the reasons that the SNiC congress is organized every year, is to bring students in to contact with companies and students from other universities. Previously this was not as smooth as it could be. Companies would have to write down everyones names and details, taking a lot of time, and students had to hastely exchange numbers.

      p We therefore thought of a solution. Instead of having a namebadge this year, you will get a <a href='https://goo.gl/wYPXGo'>butterfly badge</a>. The front will show your name and the programme you've selected, while the back will have a QR code. Anyone can read this QR code by logging in at the special scanner website and scan codes from other people. We will then make sure that the one one scanned the QR code will get the information from that persons' QR code. Don't worry, we will only share the details that you want us to share and your name.
      
      p While reworking the sign-up, we also thought about what other information could be useful. Recently, we had the pleasure to enjoy an event where matches were made between students and companies, based on preferences of working fields. This lead to more enjoyable contact because students knew which companies to approach because they already knew they were working in the field of their interest. Therefore, we decided to also try and create such a system for the SNiC. 

      p If you are interested in participating in any of these two systems, please fill in the appropriate fields on your profile page if you've been logged in.

      p To make use of this feature, one has to be able to scan the QR codes, open links that are stored in QR codes and keep you logged in. 

      p For iOS 11 this functionality is built in the default camera app, just scan the QR code and open the link in Safari. For lower versions of iOS, we recommend #[a(href='https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8') QR Reader for iPhone].  Android devices can use #[a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.unveil&hl=en') Google Goggles]. Windows 10 Mobile users can use #[a(href='https://www.microsoft.com/en-us/store/p/qr-code-reader/9wzdncrfj1s9') QR Code Reader].
