extends layout
block above-content

block header 
	header.text
		h2 Connect

block content
	section
		if connected
			p You've succesfully connected with #{connectee.firstname + ' ' + connectee.surname}
			p You can close the current page
		else
			p 'We could not connect you. This error should help you:'
			p error