extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        h2 Contact
        p.
            U kunt contact met ons opnemen met de volgende contactgegevens:

        address
          o Stichting Nationaal Informatica Congres
          p Princetonplein 5
          p 3584 CC Utrecht
          p commissie [at] snic.nl
