extends layout
block content
  h1 Contact
  p
    :i18n
      U kunt contact met ons opnemen met de volgende contactgegevens:
  address
    o Stichting Nationaal Informatica Congres
    p Princetonplein 5
    p 3584 CC Utrecht
    p commissie [at] snic.nl