extends layout
block above-content

block header 
    header.hero.login
      h2 Contact
      .separator(role='separator')

block content
    section.intro.slanted
      .content
        p
          | The committee has worked hard to build a conference, but without attendees we would have done it for nothing. We would like to thank you for buying a ticket, and hope you will enjoy the conference! If you have any problem what so ever feel free to contact us. If you want to keep up to date with the committee, follow us on 
          a.SnicBlue(href='https://www.snapchat.com/add/snic-nl', target='_blank') Snapchat
          |  for the quickest updates and on 
          a.SnicBlue(href='https://www.facebook.com/StichtingNationaalinformaticaCongres/', target='_blank') Facebook
          |  for more information. We are working hard to make sure you will have an account before the conference, when we are done you will be able to find it here.