extends layout

block  content
  section.main.style1
    .container
      .row(class='0%')
        h2 Dieet wensen
          small= users.length + ' bezoekers hadden speciale dieetwensen'
        .12u
          table.table
            thead
              th Persoon
              th Vereniging
              th Vegetarier
              th Dieetwensen
            tbody
              for row in users
                tr
                  td(style="white-space:nowrap;")=row.firstname + " " + row.surname
                  td(style="white-space:nowrap;")=verenigingen[row.vereniging].name
                  td
                    if row.vegetarian
                      span.fa.fa-check(style='color:#79bf46;')
                    else
                      span.fa.fa-close(style='color:#bf464c;')
                  td(width="100%")=row.specialNeeds



