extends layout

block content
  h1 Wachtwoord vergeten
  form(method='POST')
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email', autofocus)
    button.btn.btn-primary(type='submit') Wachtwoord resetten
