extends layout
block above-content

block header 
    header.text
        h2 Forgot password

block content
  .section.intro.slanted.margin-vert
    .content.text-center
      form.form.form-signin(method='post')
        label(for='email') Email-address:
        .row
          input.form-control(type='text', name='email', autofocus)
        button.button.special(type='submit') Reset password
        br        
        a(href='/login') Back to login
