extends layout

block content
  form(method='POST')
    legend=__('Wachtwoord vergeten')
    .form-group
      label(for='email')=__('Email')
      input.form-control(type='text', name='email', autofocus)
    button.btn.btn-primary(type='submit')=__('Wachtwoord resetten')