
<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>DisruptIT 2017</title>
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

<!-- Favicon
<link rel="icon" type="image/png" href="images/favicon.png">
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


</head>
<body>

<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <nav class="navbar">
        <div class="logonav">
            <a href="index.html">
                <img src="images/logo_textonly.svg" alt="DisruptIT home">
            </a>
        </div>

        <button class="toggle navicon-button" data-target="#navbar-main-collapse">
            <span class="navicon navicon-times"></span>
        </button>

        <ul class="pages collapse" id="navbar-main-collapse">
            <li>
                <a href="speakers.html">Speakers</a>
            </li>
            <li>
                <a href="partners.html">Partners</a>
            </li>
            <li>
                <a href="location.html">Location</a>
            </li>
            <li>
                <a href="organisation.html">Organisation</a>
            </li>
            <li>
                <a href="login.html">Log In</a>
            </li>
        </ul>
    </nav>

    <header class="hero index">
        <img class="logo" src="images/logo.svg" alt="DisruptIT">
        <div role="separator" class="separator"></div>
        <p>
            DisruptIT is the 11th conference organised by the Stichting Nationaal Informatica Congres, this year Cover will organise it and it will be held on the 15th of November
        </p>
    </header>


    <section class="intro slanted">
        <div class="content">
            <h2>Disruptive Technology</h2>
            <div role="separator" class="separator"></div>                
            <p>
                This year’s theme is Disruptive Technology. Disruptive Technology is technology that displaces an established technology. This will shake up the current industry or is so groundbreaking that it creates its own industry. This topic is focussing on current and future technologies that will change the work field of current students. It is hard for students to predict the future of a rapidly changing market. We want to give the students a mind-changing insight into the future.
            </p>
        </div>    
    </section>

    <section class="quote slanted">
        <div class="content">
            <div class="text">
                “If I asked people what they had wanted they would have said faster horses.”
            </div>
            <div class="person">
                Henry Ford
            </div>
        </div>
    </section>


    <section class="slanted twocolumn background-snic-blue" id="speakers">
        <div class="subpage">
            <div class="content">
                <h2 >Speakers</h2>
                <div role="separator" class="separator"></div>
                <p>
                    DisruptIT will try to change the minds of the students attending the conference. We want to inform the attendees about how the IT industry might change in the coming years. This will be done with interesting talks by scientists, entrepreneurs and experts from the business sector. The exact schedule is still being developed but we expect to have two keynotes speakers and two parallel tracks of three sessions to fit everybody's personal needs. You will be able to choose whichever talk you find most appealing.
                </p>
            </div>
        </div>
        <div class="subpage image"></div>
    </section>
    
    <section class="slanted twocolumn" id="location">
        <div class="subpage image"></div>
        <div class="subpage">
            <div class="content " >
                <h2>Location</h2>
                <div role="separator" class="separator"></div>
                <p>
                    The conference will be held in theater "De Spiegel" in Zwolle. The building not only looks incredible from the outside, with its iconic cupola, but will definitely inspire participants with its modern inside. The conference will take place on November 15th 2017. The conference will take place during the full day, including drinks at the end of the conference. Don't worry, we checked that none of you will miss any exams. The committee is working hard, hoping to be able to give you more information soon!
                </p>
            </div>
        </div>
    </section>


    <section class="slanted twocolumn background-snic-grey" id="snic">
        <div class="subpage">
            <div class="content " >
                <h2>SNiC</h2>
                <div role="separator" class="separator"></div>
                <p>
                    SNiC is an acronym for Stichting Nationaal informatica Congres (Foundation National Computer Science Conference). This organisation was established in 2004 with the purpose of stimulating the interest in IT knowledge, IT applications and the business side of IT. Every year, a conference with an IT related subject is organised. For each conference one study association is chosen to take care of the organsisation. The conference is visited by over 400 academic computer science students. More information about previous confereneces and the participating study associations can be found on the <a href="http://stichting.snic.nl/" class="SnicBlue" target="_blank">SNiC website</a>.
                </p>
            </div>
        </div>
        <div class="subpage image"></div>
    </section>

    <section class="intro slanted">
        <div class="content">
            <h2>Get in touch</h2>
            <div role="separator" class="separator"></div>                
            <p>
                Please do not hesitate to contact us if you have any questions or if you are looking for more information. Just send us an <a href="mailto:info@disrupt-it.nl">email</a> and we will contact you.
            </p>
        </div>
    </section>

    <section class="video">
        <div>
            <h2>Video Impression</h2>
            <div role="separator" class="separator"></div>
        </div>
        <div class="youtube">
            <a href="https://www.youtube.com/watch?v=cTSR1ZIOalU" target="_blank">
                <i class="fa fa-youtube-play fa-5x white"></i>
            </a>
        </div>
    </section>

    <footer>
        <div class="banner"></div>
        <div class="foot">
            <a href="https://www.facebook.com/StichtingNationaalinformaticaCongres/" target="_blank">
                <i class="fa fa-facebook-official fa-fw fa-3x"></i>
            </a>
            <a href="https://www.snapchat.com/add/snic-nl" target="_blank">
                <i class="fa fa-snapchat fa-fw fa-3x"></i>
            </a>
            <a href="mailto:info@disrupt-it.nl" target="_blank">
                <i class="fa fa-envelope fa-fw fa-3x"></i>
            </a>
        </div>
    </footer>
    
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/disrupt-it.js"></script>
<!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>