extends layout

block content
  h1= title
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores totam, consequuntur corporis error, minima a architecto harum odit repellendus voluptas commodi, corrupti deleniti. Sint inventore nam tempora fuga minima.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam, quidem commodi nam praesentium at magnam rem fugiat voluptatibus molestias vitae ab saepe error, illum voluptate quis asperiores libero vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, nobis! Nam earum autem nobis qui accusantium repellat veniam, explicabo quidem possimus harum accusamus ad minus architecto cum labore, velit iure.