extends layout
block above-content
  .jumbotron
    .container
      h1= __('Hoe verandert Bitcoin de toekomst?')
      p= __('Alles over anonimiteit en privacy tijdens AnonymIT')
      p
        a.btn.btn-lg.btn-primary(href='/register')=__('Activeer je ticket nu!')
        a.btn.btn-lg(href='/mailing')=__('Of meld je aan voor de mailinglist')
block content
  p.col-md-6.
    Anonimiteit is op het moment een veelbesproken onderwerp; gaat het niet over de grote 
    inbraak door (waarschijnlijk) de NSA bij DigiNotar, 
    dan gaat het wel over het handelen in Bitcoin.
    De behoefte om anoniem te blijven wordt steeds groter, 
    terwijl er steeds meer persoonsgegevens digitaal worden 
    opgeslagen. Wat zijn manieren om anonimiteit te garanderen? 
    En welke afwegingen moeten hiervoor worden gemaakt?

  p.col-md-6.
    Op dit congres zullen wij verschillende kanten van dit onderwerp aan het licht brengen
    met interessante lezingen. Geïntereseerd? Dan kan je kaartjes halen bij het bestuur van jou
    studievereniging.