doctype html

html(lang=locale)
  head
    title #{title} Disrupt-IT 2017
    meta(name='charset' content='utf-8')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/skeleton.css')
    link(rel='stylesheet' href='/css/skeleton-alerts.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/bootstrap-dropdown.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    nav(class='navbar')
      // left-side logo
      .logonav
        a(href='/')
          img(src='/images/logo_textonly.svg' alt='DisruptIT home')

      button(class='toggle navicon-button' data-target='#navbar-main-collapse')
        span(class='navicon navicon-times')

      if user
        // right side menu
        if user.admin
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/speakers') Speakers
            li
              a(href='/partners') Partners
            li
              a(href='/location') Location
            li
              a(href='/organisation') Organisation
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='/choices') Choices
                  li
                    a(href='/users') Scan tickets
                  li
                    a(href='/aanwezig') Aanwezigen
                  li
                    a(href='logout') Logout
        else
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/speakers') Speakers
            li
              a(href='/partners') Partners
            li
              a(href='/location') Location
            li
              a(href='/organisation') Organisation
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='logout') Logout
      else
        ul(class='pages collapse' id='navbar-main-collapse')
          li
            a(href='/speakers') Speakers
          li
            a(href='/partners') Partners
          li
            a(href='/location') Location
          li
            a(href='/organisation') Organisation
          li
            a(href='/register') Register
          li
            a(href='/login') Log In

    // header
    block header

    // Error messages and stuff
    block above-content

    .container
      .row
        .offset-by-three.six.columns
          if messages.error
            each msg in messages.error
              .alert.alert-danger.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          if messages.info
            each msg in messages.info
              .alert.alert-info.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;
          if messages.success
            each msg in messages.success
              .alert.alert-success.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;
                
    // content of the page
    block content

    // Footer
    footer
      .sponsors
        p Main partner
        a.nedap(href="https://lifeatnedap.com/")
          img.nedap(src='/images/bedrijven/nedap.jpg')

        .separator(role='separator')

        if Math.random() > 0.5
          a.gold(href="https://www.werkenbijachmea.nl/Paginas/default.aspx")
            img(src='/images/bedrijven/Banner_Achmea.png')
        else
          a.gold(href="https://www.werkenbijtopicus.nl/")
            img(src='/images/bedrijven/topicus.jpg')
      .foot
        a(href='https://www.facebook.com/StichtingNationaalinformaticaCongres/' target='_blank')
          i(class='fa fa-facebook-official fa-fw fa-3x')

        a(href='https://www.snapchat.com/add/snic-nl' target='_blank')
          i(class='fa fa-snapchat fa-fw fa-3x')

        a(href='mailto:info@disrupt-it.nl')
          i(class='fa fa-envelope fa-fw fa-3x')

    // Scripts
    script(src='//code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')  
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    script(src='/js/disrupt-it.js')