extends layout

block content
  .row
    .col-md-6
      h1 dePerserij
      p.
          dePerserij is een onderdeel van evenementenlocatie deFabrique, op de grens tussen Maarssen en Utrecht. In dePerserij staan enorme stellages, waar vroeger grote persmachines stonden.
      p.
          Binnen deze locatie hebben wij beschikking over een grote plenaire zaal, een kleinere zaal en deFoyer, een ontvangstruimte waar ook lunch, borrel en diner zal plaatsvinden eveneens als de bedrijvenstands.
      p.
          Voor de studenten die komen uit de richting van Groningen, Enschede, Eindhoven, Leiden of Nijmegen komen, is het mogelijk om met de SNiC-bus mee te rijden naar de locatie. De bustijden worden t.z.t. bekendgemaakt. Studenten uit Utrecht en Amsterdam reizen met het OV. 

      h2 Bussen
      h3 Leiden (De Leidsche Flesch)
      p Locatie: Unversiteit Leiden, Niels Bohrweg 1
      p Vertrek: 9.30 uur

      h3 Eindhoven (GEWIS)
      p Locatie: Technische Universiteit Eindhoven, Onder de loopbrug van het Auditorium en het Hoofdgebouw 
      p Vertrek: 9.15 uur 

      h3
       | Enschede (Inter-<i>Actief</i>) 
      p Locatie: Universiteit Twente, Parkeelplaats bij de Spiegel 
      p Vertrek: 8.30 uur

      h3 Nijmegen (Thalia) 
      p Locatie: Radboud Unversiteit Nijmegen, Toernooiveld 1 
      p Vertrek: 9.15 uur

      h3 Groningen (Cover)
      p Locatie: Central Station - Bushalte rondvaartboot
      p Vertrek: 7.45 uur 
    .col-md-6.fabrique
      a.thumbnail
        img(src="/images/defabrique/06.jpg")


  .row
    .col-md-12
      p.
          Je kunt deFabrique vinden op:
  .row
    .col-md-4
      img(src="/images/defabrique/01.png")
    .col-md-4
      p Westkanaaldijk 7
      p 3542 DA Utrecht
    .col-md-4
      a(href='https://www.google.com/maps?ll=52.127613,5.041797&z=14&t=m&hl=en-US&gl=NL&mapclient=embed&cid=2343422142924627805')
        img(src='/images/map.png')
