extends layout

block content
  .row
    .col-md-6
      h1 dePerserij
      p
        :i18n
          dePerserij is een onderdeel van evenementenlocatie deFabrique, op de grens tussen Maarssen en Utrecht. In dePerserij staan enorme stellages, waar vroeger grote persmachines stonden. 
      
      p
        :i18n
          Binnen deze locatie hebben wij beschikking over een grote plenaire zaal, een kleinere zaal en deFoyer, een ontvangstruimte waar ook lunch, borrel en diner zal plaatsvinden eveneens als de bedrijvenstands.
      p
        :i18n
          Voor de studenten die komen uit de richting van Groningen, Enschede, Eindhoven, Leiden of Nijmegen komen, is het mogelijk om met de SNiC-bus mee te rijden naar de locatie. De bustijden worden t.z.t. bekendgemaakt. Studenten uit Utrecht en Amsterdam reizen met het OV naar station Maarssen, waar zij worden opgehaald door een (pendel)bus.
    .col-md-6.fabrique
      a.thumbnail
        img(src="/images/defabrique/06.jpg")
  .row
    p
      :i18n
        Je kunt deFabrique vinden op:
  .row
    .col-md-4
      img(src="/images/defabrique/01.png")
    .col-md-4
      p Westkanaaldijk 7
      p 3542 DA Utrecht
    .col-md-4
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2449.2963803838666!2d5.048621000000001!3d52.128930000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20858205e3ce9f5d!2sDeFabrique%C2%AE+Evenementenlocatie!5e0!3m2!1snl!2snl!4v1408111216042", frameborder="0", style="border:0")     