extends layout

block header
  header.hero.location
    h2 Location
    .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 The Venue
      .separator(role='separator')
      p
        | Without a building to host the conference, we would be hopeless. We are grateful for the Spiegel that we can use their venue for the conference. The location will help us build an energetic and inspiring atmosphere. Information about the busses will be placed here, when we have more information.
  section
    #map

  .section.users.intro.slanted
    .content.offset-by-two.eight.columns
      p </br>
      p Because location of this years conference is not very close to the everyone, we arranged buses. Beneath is a schedule with departure location and times per city.

      p </br>

      table.buses.table
        thead
          th Location
          th Address
          th Time of departure
          th Time of arrival back at address
        tbody
          tr
            td Groningen
            td #[a(href="https://maps.google.com/?q=GroningenStationsplein+1&entry=gmail&source=g") Stationsplein 1]
            td 9:00
            td 21:30
          tr
            td Utrecht 
            td #[a(href="https://maps.google.com/?q=UtrechtPrincetonplein+5&entry=gmail&source=g") Princetonplein 5]
            td 09:00 
            td 21:45
          tr
            td Nijmegen
            td #[a(href="https://www.google.nl/maps/place/Platolaan,+Nijmegen") Platolaan]
            td 08:45
            td 21:30
          tr
            td Leiden
            td #[a(href="https://maps.google.com/?q=LeidenNiels+Bohrweg+1&entry=gmail&source=g") Niels Bohrweg 1 ]
            td 08:15 
            td 22:00
          tr
            td Eindhoven
            td #[a(href="https://www.google.nl/maps/search/De+Groene+Loper+5+eindhoven/@51.4479955,5.4904696,17z/data=!3m1!4b1") De Groene Loper 5]
            td 08:15
            td 22:00
          tr
            td Enschede
            td #[a(href="https://maps.google.com/?q=EnschedeDrienerlolaan+5&entry=gmail&source=g") Drienerlolaan 5]
            td 09:00
            td 21:15
          tr
            td Amsterdam 
            td #[a(href="https://maps.google.com/?q=AmsterdamScience+Park+904&entry=gmail&source=g") Science Park 904]
            td 08:45
            td 21:30

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCUQMPGMNDA7HJo3k2r0rquYu0C3awz2r8')
