extends layout

block content
  h1 De Perserij
  p.
    dePerserij is een onderdeel van evenementenlocatie deFabrique, op de grens tussen Maarssen en Utrecht. In dePerserij staan enorme stellages, waar vroeger grote persmachines stonden. 
  p. 
    Binnen deze locatie hebben wij beschikking over een grote plenaire zaal, een kleinere zaal en deFoyer, een ontvangstruimte waar ook lunch, borrel en diner zal plaatsvinden eveneens als de bedrijvenstands.
  p. Voor de studenten die komen uit de richting van Groningen, Enschede, Eindhoven, Leiden of Nijmegen komen, is het mogelijk om met de SNiC-bus mee te rijden naar de locatie. De bustijden worden t.z.t. bekendgemaakt. Studenten uit Utrecht en Amsterdam reizen met het OV naar station Maarssen, waar zij worden opgehaald door een (pendel)bus.
  p. Je kunt deFabrique vinden op:
iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2449.2963803838666!2d5.048621000000001!3d52.128930000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20858205e3ce9f5d!2sDeFabrique%C2%AE+Evenementenlocatie!5e0!3m2!1snl!2snl!4v1408111216042", width="800", height="600", frameborder="0", style="border:0")
        