extends layout
block nav
  - var selected = 'login'
block title
  | Login
block content
  section.main.style1
    .container
      .row(class='0%')
        .u6.center(class='12u$(medium)')
          h2 Inloggen
          form#login-form(method='POST')
            legend(hidden) Inloggen

            label(for='email') E-mail
            input.form-control(required, type='text', name='email', autofocus)
            
            label(for='password') Wachtwoord
            input.form-control(required, type='password', name='password')
            button.button.special(type='submit') Inloggen
            a(href='/forgot') Wachtwoord vergeten?
            a(href='/register') Registreren
