extends layout
block content
  h1 Een open en vrij internet
  p.
    Veel van de software en de protocollen die gebruikt kunnen worden om
    zelf meer inspraak te kunnen hebben in je privacy en veiligheid is
    financieel mede mogelijk gemaakt vanuit Nederland. Een prominente rol
    is daarbij weggelegd voor NLnet, de ideele Nederlandse stichting
    (ANBI-erkend) die al in de jaren tachtig aan de basis stond van de
    komst van het internet in Nederland

  p.
    Dankzij werkbeurzen van NLnet krijgen onafhankele ontwikkelaars en
    onderzoekers de kans te werken aan jouw privacy en veiligheid door
    software zoals NoScript, TOR, GNUnet, Unhosted, FTE Proxy, Lantern,
    SecureShare, Blink, Jitsi en ARPA2 - maar ook aan fundamentele
    bouwstenen zoals DNSSEC, smartcard-ondersteuning in Linux, EFF's SSL
    Observatory en Binary Analysis Tool.

  p.
    Heb je een eigen bedrijfje, stichting of staat je vereniging achter
    privacy en veiligheid van internetgebruikers? Dan kun je als
    organisatie *zonder een cent te betalen* binnen *vijf minuten* een
    belangrijke bijdrage leveren, en in een klap zorgen dat gebruikers van
    een aantal belangrijke open source-projecten beter beschermd worden
    tegen software-patenten.

  a.btn.btn-primary(href='//www.nlnet.net/helpmee') Ja, ik wil helpen
