extends layout
block content
  h1 Open source software
  p.
    Het internet leeft op open-source en vrije software. Het is belangrijk dat
    de deze infrastructuur open is en blijft. Vooral als we het hebben over
    anonimiteit en privacy. Het is van groot belang dat iedereen vrije toegang
    kan hebben tot vrije software die hen in staat stelt met verhoogde privacy
    en anonimiteit te kunnen dwalen op het internet.

  p.

