extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        h2= t('organisation.header')
        h3= t('organisation.committee.header')
        != t('organisation.committee.text', { postProcess: "jade" })

        br(clear='all')

        div.image.fit
          ul
            != t('organisation.committee.members', { postProcess: "jade" })

          img(src='/images/commissie.jpg')
          
        p.pull-right(style='font-size: 14px; margin: -30px 0 0 0;') Vlnr: Dennis, Ingmar, Bor, Willem, Wout, Sako, Tijmen, Daphne

        br(clear='all')
        br(clear='all')

        h3= t('organisation.foundation.header')
        != t('organisation.foundation.text', { postProcess: "jade" })
