extends layout
block content
  h1 Organisatie
  h2 De Commissie
  p
    | Dit jaar hebben 7 actieve leden van
    a(href='http://stickyutrecht.nl/')  Studievereniging Sticky 
    | in Utrecht de eer gekregen om het SNiC-congres van najaar 2014 te organiseren.

  p.
      De commissie, bestaande uit zowel informatica- als informatiekundestudenten bestaat uit:
    ul
      li Sanne Maasakkers, voorzitter
      li Dennis van de Coevering, secretaris
      li Tom Wassenberg, penningmeester
      li Rob de Wit, commissaris extern
      li Laurens Duijvesteijn, commissaris sprekers
      li Arian van Putten, commissaris promotie
      li Samantha van Dalen, commissaris logistiek

  img.img-responsive(src='/images/commissie.jpg')

  h2 De Organisatie
  p.
      De Stichting Nationaal informatica Congres (SNiC) is in december 2004 opgericht. De stichting heeft ten doel het stimuleren van de belangstelling voor de kennis van de informatie- en communicatietechnologie, alsmede het bedrijfskundige aspect en haar toepassingen. Dit hoopt zij te bereiken met de organisatie van een jaarlijks terugkerend landelijk congres met een informatica gerelateerd onderwerp.
