extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        h2= t('organisation.header')
        h3= t('organisation.committee.header')
        != t('organisation.committee.text', { postProcess: "jade" })

        //-div.image
          img(src='/images/commissie.jpg')

        br(clear='all')
        ul(style='margin-left: 25px')
          != t('organisation.committee.members', { postProcess: "jade" })
        

        //-br(clear='all')
        br(clear='all')

        h3= t('organisation.foundation.header')
        != t('organisation.foundation.text', { postProcess: "jade" })
