extends layout
block above-content

block header 
  header.hero.organisation
    h2 Organisation
    .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 The Committee
      .separator(role='separator')
      p
        | Of course this conference did not appear out of thin air. A team of seven highly motivated students have been working on this conference for over a year. We have all done this with great pleasure and we hope you will enjoy the conference!
  section#mimi.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage
      .content
        h2.name Emilio Oldenziel
        .function Chairman
        .separator(role='separator')
        p
          | Organising the 2017 SNiC is a great challenge, speakers, location, sponsors, promotions have to be managed in harmony to make it a success. As the chairman I'm blessed with a good team of enthousiastic people which I have a lot of fun with making the SNiC 2017 happen. I hope that you will enjoy the SNiC as much as we do, organising it.
    .subpage.image
  section#guussieboy.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage.image
    .subpage
      .content
        h2.name Guus Klinkenberg
        .function Secretary
        .separator(role='separator')
        p
          | During my year as board member of Cover, I got to realise how much these conferences contribute to broadening the horizon of the students. That made me want to bring the organisation to Groningen. As secretary I made sure everyone had access to the information they needed, worked on the back-end of the website and was a jack of all trades.
  section#entn.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage
      .content
        h2.name Robin Entjes
        .function Treasurer
        .separator(role='separator')
        p
          | Minions ipsum jeje laboris tatata bala tu dolore dolor. Aaaaaah labore incididunt consectetur po kass aliquip officia jeje butt belloo! Esse. Baboiii aute irure officia me want bananaaa! Magna. Baboiii belloo! Nostrud hana dul sae ut consectetur uuuhhh bee do bee do bee do uuuhhh daa nostrud. Voluptate me want bananaaa! Aute commodo dolore gelatooo consequat tatata bala tu magna. Magna aaaaaah bappleees ti aamoo! Aute eiusmod officia duis. La bodaaa sit amet consequat consectetur. Enim officia sit amet aliqua. Daa dolore qui aaaaaah.
    .subpage.image
  section#harm.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage.image
    .subpage
      .content
        h2.name Harmke Alkemade
        .function Commissioner External Affairs
        .separator(role='separator')
        p
          | As Commissioner of External Affairs, I have the chance to make companies enthusiastic about collaborating with us. This makes me very enthusiastic about the conference as well! I love the theme Disruptive Technology, because I’m really looking forward to work with all those exciting technologies after finishing my studies. I hope that with DisruptIT we will give you an inspiring look into the future!
  section#marty.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage
      .content
        h2.name Martijn Luinstra
        .function Commissioner Speakers
        .separator(role='separator')
        p
          | The content of the programme is my main responsibility. As a Computer Scientist who is always looking for ways to broaden his horizon, I am looking for stories. My goal is to fill your day with interesting talks by enthousiastic speakers, who can teach you something you haven't heard before. I want everybody to leave the conference inspired by new technologies and motivated about the future of Computer Science.
    .subpage.image
  section#renac.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage.image
    .subpage
      .content
        h2.name René Mellema
        .function Commissioner Logistiscs
        .separator(role='separator')
        p
          | Before I had organised events, but nothing on the scale of the SNiC before. It was a lot of fun to see how everything gets together when organising such an event. Finding the right location was also a time consuming, but very rewarding and enjoyable. I hope you all have as much fun at the conference as we had organising it!
  section#xabi.slanted.twocolumn.committee-profile.background-snic-blue
    .subpage
      .content
        h2.name Xabi Krant
        .function Commissioner Public Relations
        .separator(role='separator')
        p
          | I am the youngest of the committee, so I had to compensate my lack of experience with my enthusiasm. For me working on giving you this conference has been an amazing experience. I have been responsible for all the promotion material, the logo and the design of the website. When I started I did not know how to do any of these, but this committee has taught me a lot, besides it being a lot of fun!
    .subpage.image
  section.intro.slanted
    .content
      h2 Get in touch
      .separator(role='separator')
      p
        | Please do not hesitate to contact us if you have any questions or if you are looking for more information. Just send us an 
        a(href='mailto:info@disrupt-it.nl') email
        |  and we will contact you.