extends layout

block content
  h1=title
  .row
    .col-xs-12.col-md-4
      a.thumbnail(href="/partners/topicus")
        img(src="/images/topicus.png")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="http://placehold.it/350x150")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="http://placehold.it/350x150")
  .row
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="http://placehold.it/350x150")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="http://placehold.it/350x150")
    .col-xs-12.col-md-4
      a.thumbnail(href="#")
        img(src="http://placehold.it/350x150")