extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        h2= t('programme.header')
        table.table
          thead
            tr
              th= t('programme.table.time')
              th= t('programme.table.col1')
              th= t('programme.table.col2')
          tbody
            tr
              td 10.30
              td(colspan='2') Aankomst en ontvangst
            tr
              td 11.30
              td(colspan='2') Opening
            tr
              td 11.45
              td(colspan='2')
                b Eerste lezing
                //-a(href='/speakers/douwe') Team Human
            tr
              td 12.45
              td
                b Tweede lezing
                //-a(href='/speakers/eric') Polymorfe Pseudonimisering: een basis voor een derde generatie eID-stelsel? 
              td
                b Tweede lezing
                //-a(href='/speakers/thomas') Beveiliging persoonsgegevens bij het PEBKAC-beveiligingsgat
            tr
              td 13.30
              td(colspan='2') Lunch
            tr
              td 14.30
              td
                b Derde lezing
                //-a(href='/speakers/arpa2') Terug naar de tekentafel: ARPA2.net
              td
                b Derde lezing
                //-i SBox, tor-enabled wifi router
            tr
              td 15.30
              td
                b Vierde lezing
                //-a(href='/speakers/johan') Online video streaming met anonimiteit
              td
                b Vierde lezing
                //-a(href='/speakers/roel') Rabobank en Cryptocurrencies, met open vizier?
            tr
              td 16:30
              td(colspan='2')
                b Slotlezing
                //-a(href='/speakers/guido') Talk over het EPD
            tr
              td 17.15
              td(colspan='2') Afsluiting
            tr
              td 17.30
              td(colspan='2') Borrel
            tr
              td 18.30
              td(colspan='2') Diner
            tr
              td 20.00
              td(colspan='2') Einde. Verenigingen terug met bussen.
