extends layout
block content
  h1 Programma
  p.
    We openen om 10.30. Vanaf 20.00 zullen de bussen terug gaan reizen.
  table.table
    thead
      tr
        th Tijd
        th Activiteit
    tbody
      tr
        td 10.30-11.00
        td Aankomst en ontvangst
      tr
        td 11.00-11.30
        td Opening
      tr
        td 11.30-12.30
        td Eerste lezing
      tr
        td 12.30-13.30
        td
          table
            tr
              td TBA
            tr
              td TBA
      tr
        td 13.30-14.30
        td Lunch
      tr
        td 14.30-15.30
        td
          table
            tr
              td TBA
            tr
              td TBA
      tr
        td 15.30-15.30
        td
          table
            tr
              td Eerste parallele lezing
            tr
              td Tweede parallele lezing
      tr
        td 16.30-17.15
        td Afsluitende lezing van Arnoud Engelfriet
      tr
        td 17.15-17.30
        td Afsluting
      tr
        td 17.30-18.30
        td Borrel
      tr
        td 18.30-20.00
        td Diner
