block title
  | Wachtwoord vergeten

extends layout

block content
  h1 Wachtwoord resetten

  form(method='POST')
    legend(hidden) Wachtwoord resetten
    .form-group
      label(for='password') nieuw wachtwoord
      input.form-control(type='password', name='password', value='', placeholder='Nieuw wachtwoord', autofocus=true)
    .form-group
      label(for='confirm') Bevestig password
      input.form-control(type='password', name='confirm', value='', placeholder='Bevestig password')
    .form-group
      button.btn.btn-primary(type='submit') Wachtwoord resetten
