extends layout


block content
  h1=__('Sprekers')

  h2 Sprekers
  .row
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/dosch.jpg')
        .col-sm-8
          h3#douwe Douwe Schmidt
          h4 de Correspondent
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/thomas.jpg')
        .col-sm-8
          h3#thomas Thomas Markus
          h4 Topicus 
  .row
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/joost.jpg')
        .col-sm-8
          h3#joost Joost van Baal-Ilic
          h4 Debian
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/johan.jpg')
        .col-sm-8
          h3#johan Johan Pouwelse 
          h4 Tribler
  .row
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/eric.jpg')
        .col-sm-8
          h3#eric Eric Verheul
          h4 Radboud Universiteit
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/roel.jpg')
        .col-sm-8
          h3#roel Roel Steenbergen
          h4 Rabobank
  .row
    .col-md-6.col-xs-offset-1.col-md-offset-0
      .row.spreker
        .col-sm-4
          img.avatar(src='/images/guido.jpg')
        .col-sm-8
          h3#guido Guido van 't Noordende
          h4 UvA

  h2 Dagvoorzitters
  .row
    .dagvoorzitter.col-md-6.col-xs-offset-1.col-md-offset-0
      .row
        .col-sm-4
          img.avatar(src='/images/arnosiebes.jpg')
        .col-sm-8
          h3 Arno Siebes
          h4 Technische track
      .row
        .col-md-12
          p Sinds 2000 is Arno Siebes hoofd van de Algorithmic Data Analysis onderzoeksgroep aan de Universiteit Utrecht. Hiervoor was hij 15 jaar werkzaam bij het CWI. Hoewel hij ooit begon met onderzoek naar databases verschoof dat later naar data mining (voornamelijk pattern mining). Veelal was Arno voorzitter van grote conferenties binnen de informatica.
    .dagvoorzitter.col-md-6.col-xs-offset-1.col-md-offset-0
      .row
        .col-sm-4
          img.avatar(src='/images/xander.png')
        .col-sm-
          h3 Xander Bouwman
          h4 Maatschappelijke track
      