/**************************************************************************
 *
 * GLOBAL DEFINITIONS
 *
 **************************************************************************/

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Italic.eot');
  src: local('Glacial Indifference Italic'), local('GlacialIndifference-Italic'),
    url('/fonts/GlacialIndifference-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GlacialIndifference-Italic.woff') format('woff'),
    url('/fonts/GlacialIndifference-Italic.ttf') format('truetype'),
    url('/fonts/GlacialIndifference-Italic.svg#GlacialIndifference-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.eot');
  src: local('Glacial Indifference Regular'), local('GlacialIndifference-Regular'),
    url('/fonts/GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GlacialIndifference-Regular.woff') format('woff'),
    url('/fonts/GlacialIndifference-Regular.ttf') format('truetype'),
    url('/fonts/GlacialIndifference-Regular.svg#GlacialIndifference-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.eot');
  src: local('Glacial Indifference-Bold'), local('GlacialIndifference-Bold'),
    url('/fonts/GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GlacialIndifference-Bold.woff') format('woff'),
    url('/fonts/GlacialIndifference-Bold.ttf') format('truetype'),
    url('/fonts/GlacialIndifference-Bold.svg#GlacialIndifference-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Glacial Indifference', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0;
}

p{
  text-align: left;
  font-size: 2rem;
  max-width: 50em;
  margin: 0 auto;
}

a,
a:visited{
  color: #00bab3;
}

a:hover,
a:focus{
  color: #00bab3;
  text-decoration: none;
}

.separator{
  height: 2px;
  width: 8rem;
  margin: 2em auto;
  background-color: currentColor;
}

.background-snic-grey{
  background: #373636 !important;
  color: white;
}

.background-snic-blue{
  background: #00bab3 !important;
  color: white;
}

.background-gold{
  background: #eee8aa !important;
}

.background-silver{
  background: #d3d3d3 !important;
}

.background-snic-blue a,
.background-snic-blue a:visited{
  color: white;
  opacity: 0.8;
}

.background-snic-blue a:hover,
.background-snic-blue a:focus{
  color: white;
  opacity: 1;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.margin-vert {
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkbox label{
  font-weight: normal;
}

.checkbox label > input {
  margin-right: 0.5em;
}

/**************************************************************************
 *
 * COMPONENT SPECIFIC DEFINITIONS
 *
 **************************************************************************/

/***********************************
 *  Navbar
 ***********************************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10px;

  background-color: rgba(0, 186, 179, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  font-size: 2rem;
  line-height: 50px;

  z-index: 100000000;
  overflow: hidden; 
}

.navbar a,
.navbar a:visited{
  display: inline-block;
  opacity: 1;
}

.navbar a:hover,
.navbar a:focus{
  opacity: 0.8;
}

.navbar .logonav{
  display: inline-block;
}

.navbar .logonav img{
  position: relative;
  top: -3px;
  height: 30px;
  vertical-align: middle;
}

.navbar button.toggle{
  display: inline-block;
  height: 50px;
  padding: 0 5px;
  margin: 0;
  float: right;
  border: none;
  outline: none;
  font-size: inherit;
  line-height: 50px;
  color: white;
}

.navbar .pages.collapse{
  display: none;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  color: white;
} 

/* Dropdown stuff  */
/*.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}*/
/* End dropdrown stuf */

.navbar .pages.collapse.open{
  display: block;
}
.navbar .pages li{
  display: block;
  margin: 0;
}

/* Links inside the navbar */
.navbar .pages a,
.navbar .pages a:visited {
  padding: 0 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media (min-width: 750px) {
  .navbar .collapse{
    display: inline-block
  }

  .navbar button.toggle{
    display: none;
  }

  .navbar .pages.collapse{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  } 

  .navbar .pages li{
    display: inline-block;
  }

  .navbar .pages a {
    padding: 0 5px;
  }
}

/*
 * Navicon
 */

.navicon-button {
    display: inline-block;
    position: relative;
    transition: 0.125s;
    cursor: pointer;
    user-select: none;
}

.navicon-button:active,
.navicon-button:focus{
    outline: none;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover .navicon:before {
    top: .40em;
}
.navicon-button:hover .navicon:after {
    top: -.40em;
}

.navicon {
    display: inline-block;
    position: relative;
    top: -.09em;
    width: 1.1em;
    height: .15em;
    background: currentColor;
    transition: 0.5s;
    vertical-align: middle;
    border-radius: .03em;
}

.navicon:before, 
.navicon:after {
    display: block;
    content: "";
    height: .15em;
    width: 1.1em;
    background: currentColor;
    position: absolute;
    z-index: 0;
    transition: 0.5s 0.25s;
    border-radius: .03em;
}

.navicon:before {
    top: .30em;
}
.navicon:after {
    top: -.30em;
}

.navicon-button[aria-expanded=true]:not(.steps) .navicon:before,
.navicon-button[aria-expanded=true]:not(.steps) .navicon:after,
.navicon-button.open:not(.steps) .navicon:before,
.navicon-button.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.navicon-button[aria-expanded=true] .navicon:before,
.navicon-button[aria-expanded=true] .navicon:after,
.navicon-button.open .navicon:before,
.navicon-button.open .navicon:after {
    transition: 0.5s;
}

/* times sign */
.navicon-button[aria-expanded=true] .navicon.navicon-times,
.navicon-button.open .navicon.navicon-times{
  background: transparent;
}

.navicon-button[aria-expanded=true] .navicon.navicon-times:before,
.navicon-button.open .navicon.navicon-times:before{
  transform: rotate(-45deg);
}

.navicon-button[aria-expanded=true] .navicon.navicon-times:after,
.navicon-button.open .navicon.navicon-times:after{
  transform: rotate(45deg);
}


/********************
 * Header
 ********************/
header.text h2 {
  position: relative;
  min-height: 5vh;
  
  padding: 4em 2em 2em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background: rgba(0, 186, 179, 0.7);
  color: white;
  opacity: .9;

  margin-bottom: 1em;

}

header.hero{
  position: relative;
  min-height: 80vh;
  
  padding: 8em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  
  color: white;
  opacity: .9;
}

header.hero::before {
  content: '';
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: -1;
  background: rgba(0, 186, 179, 0.7);
}

header.hero .logo{
  max-width: 80%;
  width: 20em;
}

header.hero p {
  color: white;
  max-width: 30em;
  font-size: 2rem;
  text-align: center;
}

header.hero h2{
  font-size: 5rem;
}

@media (min-width: 400px) {
  header.hero p{
    font-size: 2.5rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  header.hero p{
    font-size: 3rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  header.hero p{
    font-size: 3.6rem;
  }
}


/******************
 * sections
 ******************/

section h1, 
section h2, 
section h3, 
section h4, 
section h5, 
section h6{
  text-align: center;
}

section.slanted{
  transform: skewY(3deg);
  margin-top: -2px;
}

section.slanted .content{
  transform: skewY(-3deg);
  padding: 5rem 15px;
  overflow: auto;
}

section.slanted.twocolumn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  background-color: white;
}

section.slanted.twocolumn .subpage{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

section.slanted.twocolumn .subpage.image{
  background-size: cover;
  order: -1;
  height: 50vw;
  margin-bottom: -1px;
}

section.slanted.twocolumn .content{
  max-width: 45em;
  margin: 0 auto;
}

section.intro p{
  text-align: center;
}

section.quote{
  background-color: #373636;
  text-align: center;
  color: white;
}

section.quote .content{
  font-size: 2rem;
}

section.quote .person{
  font-size: 80%;
  color: #00bab3;
}

@media (min-width: 400px) {
  section.quote .content{
    font-size: 2.5rem;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  section.slanted.twocolumn .subpage.image{
    height: 75vw;
  }
}


/* Larger than tablet */
@media (min-width: 750px) {
  section.slanted .content{
    padding: 10rem 15px;
  }
  
  section.slanted.twocolumn{
    flex-wrap: wrap;
  }
  
  section.slanted.twocolumn .subpage{
    flex-grow: 1;
    flex-basis: 40%;
    transition: flex-basis 0.2s ease-out;
  }

  section.slanted.twocolumn .subpage:not(.image){
    flex-basis: 60%;
  }

  section.slanted.twocolumn .subpage.image{
    height: auto;
    order: unset;
    margin-bottom: 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  section.quote .content{
    font-size: 3rem;
  }

  section.slanted.twocolumn .subpage,
  section.slanted.twocolumn .subpage:not(.image){
    flex-basis: 50%;
  }
}


/* Larger than Desktop HD */
@media (min-width: 1200px) {
  section.quote .content{
    font-size: 3.6rem;
  }
}

/****************************
 * Button
 ****************************/
 .button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary 
{
  color: #00bab3;
  background-color: #FFF;
  border-color: #00bab3;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus
{
  color: #FFF;
  background-color: #00bab3;
  border-color: #00bab3; 
}

/****************************
 * Footer
 ****************************/

footer {
  width: 100%;
  background-color: #373636;
  padding: 10vh 10%;
}

footer .sponsors {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin:-10px auto;
}

.sponsors a {
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 45%;
  text-align: center;
  display: inline-block;
  background-color: white;
}

.sponsors a img {
  height: 100px;
  width: auto;
  vertical-align: middle;
}

.sponsors a.nedap {
  flex-grow: 2;
  flex-basis: 60%;
  margin: 10px;
}

.sponsors img.nedap {
  /*height: 150px;*/
  /*width: auto;*/
  /*min-width: 100%;*/
}

footer a,
footer a:visited{
  color: white;
  text-align: center;
  margin: 0 1vw; 
  display: inline-block;
}

footer a:hover,
footer a:focus{
  color:#00bab3;
}

.foot{
  overflow: hidden;
  width: 100%; /* Full width */
  margin-top: 30px;
  color: white;
  text-align: center;
}

.banner{
  width: 60vw;
  height: 20vh;
  display: block;
  background-image: url('/images/Banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

@media (min-width: 750px) {

  .banner{
    /*width: 80vw;*/
    height: 20vh;
  }
}



/**************************************************************************
 *
 * PAGE SPECIFIC DEFINITIONS
 *
 **************************************************************************/


/****************************
 * Index
 ****************************/

header.hero.index{
   background-image: url('/images/foto1.jpg');
}

section#speakers .subpage.image{
  background-image: url('/images/Foto-Spreker.jpg');
  background-position: center 80%;
}

section#location .subpage.image{
  background-image: url('/images/Foto-Spiegel.jpg');
  background-position: center 30%;
}


section#snic .subpage.image{
  background-image: url('/images/foto_kijken.jpg');
  background-position: right 20%;
}


.video{
  position: relative;
  min-height: 70vh;
  
  padding: 8em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-image: url('/images/fotozaal.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  
  color: white;
  opacity: .9;
}

.video::before {
  content: '';
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: -1;
  background: rgba(0, 186, 179, 0.7);
}

.youtube{
  text-align: center;
  width: 100%; 
  position: relative;
  color: white;
}

.youtube a,
.youtube a:visited,
.youtube a:hover,
.youtube a:focus{
  color: white;
}

.youtube a:hover,
.youtube a:focus{
  opacity: 0.8;
}



/****************************
 * Speakers
 ****************************/
header.hero.speakers{
  background-image: url('/images/Foto-Spreker2.jpg');
}



/****************************
 * Partners
 ****************************/
header.hero.partners{
  background-image: url('/images/Foto-Sponsor.jpg');
}

.box{
  position: relative;
  max-width: 20em;
  margin: 0 auto 25px;
}

.box a{
  opacity: 1;
}

.box a:hover{
  opacity: 0.7;
}

.box img{
  width: 100%;
}


#platinum .box{
  max-width: 40em;
}

#gold .box{
  max-width: 25em;
}



/****************************
 * Organisation
 ****************************/
.committee-profile .name{
  margin: 0;
}

.committee-profile .function{
  text-align: center;
  font-size: 3rem;
}

header.hero.organisation{
  background-image: url('/images/SNiC-14.jpg');
  background-position: center 40%;
}

section#mimi .subpage.image{
  background-image: url('/images/SNiC-12.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#guussieboy .subpage.image{
  background-image: url('/images/SNiC-10.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#entn .subpage.image{
  background-image: url('/images/SNiC-7.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#harm .subpage.image{
  background-image: url('/images/SNiC-8.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#marty .subpage.image{
  background-image: url('/images/SNiC-11.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#renac .subpage.image{
  background-image: url('/images/SNiC-6.jpg');
  background-position: center 20%;
  min-height: 300px;
}

section#xabi .subpage.image{
  background-image: url('/images/SNiC-9.jpg');
  background-position: center 20%;
  min-height: 300px;
}

@media (min-width: 550px) {
  
  section#mimi .subpage.image,
  section#guussieboy .subpage.image,
  section#entn .subpage.image,
  section#harm .subpage.image,
  section#marty .subpage.image,
  section#renac .subpage.image,
  section#xabi .subpage.image{
    min-height: initial
  }
}

@media (min-width: 400px) {
  section#mimi .subpage.image,
  section#guussieboy .subpage.image,
  section#entn .subpage.image,
  section#harm .subpage.image,
  section#marty .subpage.image,
  section#renac .subpage.image,
  section#xabi .subpage.image{
    min-height: 420px;
  }
}


/****************************
 * Location
 ****************************/

header.hero.location{
  background-image: url('/images/Foto-Spiegel.jpg');
}

#map{
  height:70vh;
  border-top: 3px solid #00bab3;
}

#map .gm-style {
  font-family: 'Glacial Indifference', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#map #content,
#map #content p{
  text-align: center;
}

#map #content h1{
  font-size: 2em;
  margin-bottom: 0;
}

#map #content .separator {
  margin: 1em auto;
}


/****************************
 * Login
 ****************************/

header.hero.login{
  min-height: 0;
  background-image: url('/images/23369577356_2d8183a751_o.jpg');
  background-position: center 90%;
}

.form {
  max-width: 40em;
  margin: 0 auto;
}

.form-control {
  width: 100%;
}

.form.form-signin {
  max-width: 25em;
}

.login-separator{
  text-align:center;
  margin-bottom: 1rem;
}

.login-separator:before,
.login-separator:after {
  width: 15%;
  height: 1px;
  background: #adadad;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  content: '';
}

/****************************
 * Register
 ****************************/
header.hero.register{
  min-height: 0;
  background-image: url('/images/23369577356_2d8183a751_o.jpg');
  background-position: center 90%;
}

.form-register {
  max-width: 40em;
  margin: 0 auto;
  padding: 10px;
}

.register p {
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  /*max-width: 60vw;*/
}


/****************************
 * Users
 ****************************/

.section.users {
  overflow:auto;
}

.button-users {
  padding: 0px;
  width: 100%;
}

.users.table {
  margin: 0 0 2em 0;
  width: 100%;
}

/****************************
 * Connect better
 ****************************/
.connectbetter p {
  padding: 10px;
}

/****************************
 * Nedap Bedrijfsprofiel
 ****************************/

header.hero.nedap{
  background-image: url('/images/Hero_Nedap.jpg');
}

/****************************
 * Achmea Bedrijfsprofiel
 ****************************/

header.hero.achmea{
  background-image: url('/images/Hero_Achmea.jpg');
}

/****************************
 * One-off elements
 ****************************/

.privacy {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}