extends layout
block above-content

block header
    header.text
        h2 Error

block content
    section
      h2= message
      p= error.status
    pre #{error.stack}

    p.text-center Click
        a(href='/') here
        |to return to the homepage
