extends layout
block above-content

block header
    header(id='particles-js' class='hero index particles')
      //- img(class='logo' src='images/logo.svg' alt='DisruptIT')
      div(class="singularit-logo")
        img(src='/images/singularit_logo.png')
      div()
        span(class='title sub') SNIC PRESENTS:
        h1(class='title main') SINGULAR
          span(class="subcol") IT
        a(href="/register")
          div(class="register-button") REGISTER
      a(href="#intro" style="color: white;")
        i(class="arrow").fa.fa-angle-down.fa-5x.white
        
      div(class="homepage-sponsor-banner")
        a(href="https://quintor.nl/", target="_blank")
          img(class="homepage-sponsor-logo main-sponsor" src='/images/snic_sponsor_logo/Logo_Quintor.png')
        a(href="https://nedap.com/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_Nedap.png')
        a(href="https://ing.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_ING.png')
        a(href="https://www.achmea.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_Achmea.png')
        a(href="https://www.chipsoft.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_Chipsoft.png')

        a(href="https://home.kpmg.com/nl/nl/home.html", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_KPMG.png')
        a(href="https://www.dnb.nl/home/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_DNB.png')
        a(href="https://topicus.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_Topicus.jpg')
        a(href="https://procam.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_Procam.png')
        a(href="https://dsw.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/snic_sponsor_logo/Logo_DSW.png')


        div(id="silver_logo_container")
          img(id="silver_logos" class="homepage-sponsor-logo")

        div(id="bronze_logo_container")
          img(id="bronze_logos" class="homepage-sponsor-logo")
        
      //- div(role='separator' class='separator')
      //- p
      //-   | 12th edition<br />
      //-   | organized by 
      //-   strong via<br />
      //-   | 15th of November

block content
  // Short summary
  header(id='particles-js-light' class='particles')
  div(class="line-background")
  section(id="intro" class='intro slanted')
    .content
      h2 SINGULARITY
      p 
        | The theme of this year's conference is 
        span(class="accent") SINGULARIT
        |: The technological singular-ity. Singularity is a term that has its origin in mathematics:
        | There, it means 'the point where 
        span(class="accent") humanity 
        | will no longer be able to know what is being calculated'.
        | The past decennia, the term has been used more and more in the world of 
        span(class="accent") technology
        |.
    

  // Inspirational quote
  section(class='')
    //div(class="skewed-background-2")
    .content
      p 
        span(class="accent") “Everyone 
        |  takes the limits of his 
        span(class="accent") own 
      p(style="padding-left: 100px;")
        | vision for the 
        span(class="accent") limits 
        |  of the 
        span(class="accent") world”
        |.
      p(style="text-align: right;")
        | - Arthur 
        span(class="accent") Schopenhauer 
        
    div(id="speakers" class="skew-content")
      section#speakers.slanted.twocolumn
        .subpage(class="congres-bg location-content")
          .content(style="transform: skewY(-5deg);")
            div(class="header-title" style="text-align: left;") Speakers
            p(class="speakers" style="float: left; text-align: left;")
              |
              span(class="accent-logo") SingularIT 
              | takes a look at the  
              span(class="accent") future 
              | of technology. 
              | We aim to educate the audience about how technology and 
              span(class="accent") Artificial Intelligence 
              | will shape society, education and healthcare. 
              | Our speakers range from 
              span(class="accent") scientists, 
              | entrepeneurs, activists and many more. 
              | Each of them will give a talk about how their field will be affected by technology that is smarter than 
              span(class="accent") humanity, 
              | be it in a positive or negative way.
              | There are two keynotes speakers, in between of which are three parallel tracks of three sessions. 
              | You will be able to choose whichever talk you find the most appealing in each sessions.
        .subpage.image

  div(id="program" class="program-table")
    .container
    a#program.anchor
    .row
      .col-lg-12.text-center
        h2 Program
        hr
        .table-responsive
          table#program-table.table
            thead
              tr
                th
                th
                  h4 Grand Technical Challenges
                th
                  h4 Societal Impact
                th
                  h4 Experience the Singularity
            tbody
              tr
                td
                td
                  h6 Van Beinum Zaal
                td
                  h6 Grote Zaal
                td
                  h6 Van Warmerdam Zaal
              tr
                td
                td
                  a(href="/speakers#robert")
                    h6 Robert Belleman
                td
                  a(href="/speakers#ashley")
                    h6 Ashley Burgoyne
                td
              tr
                td
                  small 10:00
                td
                td
                  h4 Central Opening
                  small 10:00 - 10:15
                td
              tr
                td
                  small 10:15
                td(rowspan='3')
                td.grey(rowspan='3')
                  h4 Quintor
                  small 10:15 - 11:00
                  p
                td(rowspan='3')
              tr
                td
                  small 10:30
              tr
                td
                  small 10:45
              tr
                td
                  small 11:00
                td
                td.grey
                  h4 Short break
                  small 11:00 - 11:15
                td
              tr
                td
                  small 11:15
                td(rowspan='4')
                  a(href="/speakers#melanie")
                    h4 Melanie Rieback
                  small 11:15 - 12:15
                  p
                td.grey(rowspan='4')
                  a(href="/speakers#michael")
                    h4 Michael Lees
                  small 11:15 - 12:15
                  p
                td(rowspan='4')
                  a(href="/speakers#cees")
                    a(href="/speakers#cees")
                      h4 Cees Snoek
                      h6 Video Understanding from a Sentence
                  small 11:15 - 12:15
                  p
              tr
                td
                  small 11:30
              tr
                td
                  small 11:45
              tr
                td
                  small 12:00
              tr
                td
                  small 12:15
                td(rowspan='4')
                td.grey(rowspan='4')
                  h4 Lunch break
                  small 12:15 - 13:15
                td(rowspan='4')
              tr
                td
                  small 12:30
              tr
                td
                  small 12:45
              tr
                td
                  small 13:00
              tr
                td
                  small 13:15
                td(rowspan='5')
                  a(href="/speakers#brett")
                    h4 Brett Scott
                    h6 Futuristic finance
                  small 13:15 - 14:15
                  p
                td.grey(rowspan='5')
                  h4 Panel
                  small 13:15 - 14:15
                  p
                td(rowspan='5')
                  a(href="/speakers#jop")
                    h4 Jop Briët
                    h6 Quantum information processing
                  small 13:15 - 14:15
                  p
              tr
                td
                  small 13:30
              tr
                td
                  small 13:45
              tr
                td
                  small 14:00
              tr
                td
                  small 14:15
              tr
                td
                  small 14:30
                td(rowspan='5')
                  a(href="/speakers#christaan")
                    h4 Christaan Henkel
                    h6 The genomic program
                  small 14:30 - 15:30
                  p 
                td.grey(rowspan='5')
                  a(href="/speakers#richard")
                    h4 Richard Stallman
                    h6 Should we have more surveillance than the USSR?
                  small 14:39 - 15:30
                  p 
                td(rowspan='5')
              tr
                td
                  small 14:45
              tr
                td
                  small 15:00
              tr
                td
                  small 15:15
              tr
                td
                  small 15:30
              tr
                td
                  small 16:00
                td(rowspan='4')
                td.grey(rowspan='4')
                  a(href="/speakers#bruce")
                    h4 Bruce Duncan
                    h6 Back Up Your Mind and Live Forever?
                  small 16:00 - 17:00
                  p
                td(rowspan='4')
              tr
                td
                  small 16:15
              tr
                td
                  small 16:30
              tr
                td
                  small 16:45
              tr
                td
                  small 17:00
                td(rowspan='2')
                td.grey(rowspan='2')
                  h4 Central Closing
                  small 17:00 - 17:15
                td(rowspan='2')
              tr
                td
                  small 17:15
              tr
                td
                td
                td.grey
                  h4(style="text-align: center;") Drinks
                td

  div(id="location" class="skew-content")
    section#location.slanted.twocolumn
      .subpage.image
      .subpage(class="congres-bg location-content")
        .content(style="transform: skewY(-5deg);")
          div(class="header-title") Location
          p(class="location")
            | The conference will be held in 
            span(class="accent") Philharmonie Haarlem. 
            | It will take place on 
            span(class="accent") November 20th, 2018.
          a(href="https://www.google.com/maps/search/Philharmonie+Haarlem/@52.3805698,4.8891666,15z")
            span(class="accent directions") Get Directions 
            img(class="direction-img" src="/images/google_maps.png")


  div(id="about" class="skewed-background-2")
  header(id='particles-js-light-2' class='particles')
  section(class='intro slanted')
    .content
      h2 SNIC
      // div(role='separator' class='separator')
      p 
        span(class="accent") SNIC 
        | is an acronym for Stichting Nationaal Informatica congres (foundation national computer science conference).
        | This organisation was established in 
        span(class="accent") 2004 
        | with the purpose of stimulating the interest in IT knowledge, IT applications and the business side of it.
        | Every year, a 
        span(class="accent") conference 
        | with an IT related subject is organised. For each conference one study association is chosen to take care of the organisation.
        | This year, the organisation is in the hands of study assocation 
        span(class="accent") VIA
        |
