doctype html

html(lang=locale)
  head
    title #{title} SingularIT 2018
    meta(name='charset' content='utf-8')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/skeleton.css')
    link(rel='stylesheet' href='/css/skeleton-alerts.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/bootstrap-dropdown.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="https://fontlibrary.org/face/trueno" type="text/css")
    link(rel="stylesheet" href="/css/particlejs.css" type="text/css")
  body
    nav(class='navbar')
      // left-side logo
      .logonav
        a(href='/')
          img(src='/images/singularit_logo.png')

      button(id="navbarToggle" class='toggle navicon-button' data-target='#navbar-main-collapse')
        span(class='navicon navicon-times')

      if user
        // right side menu
        if user.admin
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/speakers') Speakers
            li
              a(href='/partners') Partners
            li
              a(href='/location') Location
            li
              a(href='/organisation') About
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='/choices') Choices
                  li
                    a(href='/matchingstats') Matching stats
                  li
                    a(href='/users') Scan tickets
                  li
                    a(href='/aanwezig') Attendees
                  li
                    a(href='/diet') Diets
                  li
                    a(href='/reload') Reload speakers
                  li.divider(role='separator')
                  li
                    a(href='logout') Logout
        else
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/speakers') Speakers
            li
              a(href='/partners') Partners
            li
              a(href='/location') Location
            li
              a(href='/organisation') About
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='logout') Logout
      else
        ul(class='pages collapse' id='navbar-main-collapse')
          li
            a(href='#speakers') Speakers
          li
            a(href='#partners') Partners
          li
            a(href='#location') Location
          li
            a(href='#about') About
          //li
            a(href='/register') Activate
          //li
            a(href='/login') Log In

    // header
    block header

    // Error messages and stuff
    block above-content

    .container
      .row
        .offset-by-three.six.columns
          if messages.error
            each msg in messages.error
              .alert.alert-danger.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          if messages.info
            each msg in messages.info
              .alert.alert-info.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;
          if messages.success
            each msg in messages.success
              .alert.alert-success.alert-dismissable
                = msg
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;
                
    // content of the page
    block content

    // Footer
    footer(id="partners")
      .sponsor
        p Platinum partner
        a.nedap(href="https://quintor.nl/", target="_blank")
          img.nedap(src='/images/snic_sponsor_logo/Logo_Quintor.png')

      .sponsor
        .separator(role='separator')
      .sponsor
        p Gold partners
        div(class="silver-sponsors")
          a.nedap(href="https://nedap.com/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Nedap.png')
          a.nedap(href="https://ing.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_ING.png')
          a.nedap(href="https://www.achmea.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Achmea.png')
          a.nedap(href="https://www.chipsoft.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Chipsoft.png')
      .sponsor
        .separator(role='separator')
      .sponsor
        p Silver partners
        div(class="silver-sponsors")
          a.nedap(href="https://dsw.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_DSW.png')
          a.nedap(href="https://procam.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Procam.png')
          a.nedap(href="https://topicus.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Topicus.jpg')
          a.nedap(href="https://home.kpmg.com/nl/nl/home.html", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_KPMG.png')
          a.nedap(href="https://www.dnb.nl/home/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_DNB.png')
      .sponsor
        .separator(role='separator')
      .sponsor
        p Bronze partners
        div(class="silver-sponsors")
          a.nedap(href="", target="_blank")
              img.nedap(class='footer-sponsors', src='')
          a.nedap(href="https://www.asml.com/asml/en/s427", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_ASML.png')
          a.nedap(href="https://belsimpel.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Belsimpel.png')
          a.nedap(href="", target="_blank")
            img.nedap(class='footer-sponsors', src='')
           
      //-.sponsor
        p Gold partner
        - var rand = Math.random();
        if rand < 1/3
          a.gold(href="https://www.werkenbijachmea.nl/Paginas/default.aspx")
            img(src='/images/bedrijven/Banner_Achmea.png')
        else if rand < 2/3
          a.gold(href="https://www.werkenbijtopicus.nl/")
            img(src='/images/bedrijven/topicus.jpg')
        else
          a.gold(href="https://home.kpmg.com/nl/nl/home/werken-bij-kpmg.html")
            img(src='/images/bedrijven/Banner_KPMG.png')
      //-.foot
        a(href='https://www.facebook.com/StichtingNationaalinformaticaCongres/' target='_blank')
          i(class='fa fa-facebook-official fa-fw fa-3x')

        a(href='https://www.snapchat.com/add/snic-nl' target='_blank')
          i(class='fa fa-snapchat fa-fw fa-3x')

        a(href='mailto:info@disrupt-it.nl')
          i(class='fa fa-envelope fa-fw fa-3x')

    // Scripts
    script(src='//code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')  
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    //script(src='/js/jQuery.curtail.min.js')
    script(src='/js/particles.js')
    script(src='/js/app.js')

    // For extra footer stuff
    block footer
