extends layout
block above-content

block header

block content
  section.intro.slanted
    .content
      h2 Tickets
      .separator(role='separator')
      p.participate
        | You can buy your ticket at one of the following study associations:
      ul.associations
        li
          a(href='https://www.a-eskwadraat.nl/') A-Eskwadraat
        li
          a(href='http://svcognac.nl/') CognAC
        li
          a(href='https://www.svcover.nl/') Cover
        li
          a(href='https://www.deleidscheflesch.nl/') De Leidsche Flesch
        li
          a(href='https://www.gewis.nl/') GEWIS
        li
          a(href='https://www.inter-actief.utwente.nl/') Inter-Actief
        li
          a(href='https://www.svsticky.nl/') Sticky
        li
          a(href='https://www.thalia.nu/') Thalia
        li
          a(href='https://www.svia.nl/') via