
.navbar {
  margin-bottom: 0;
  border-color: #002E40;
}
.navbar-inverse .navbar-toggle {
  border-color: #002E40;
}
.navbar-inverse .navbar-toggle:focus {
    background-color: #002E40;
    color: #fff;
}
.navbar-brand {

  font-size: 30px;
  font-family: "Roboto";
  font-weight: 200;
}
.navbar-inverse {
  background-color: #2A5769;
}

.navbar-inverse .navbar-nav > li > a, .navbar-brand {
  color: white !important;
}

.navbar-inverse li.active > a {
  background-color: #002E40 !important;
}

.hidden {

}

#logo {
  background-color: #2A5769;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.wrapper {
  margin: 0 auto -210px;
}
footer.page, .push {
  margin-top: 30px;
  height: 180px;
}
@media (min-width: 768px) {


  ul.nav.navbar-nav {
    padding-top: 25px;
  }

  .navbar-brand {
      padding-top: 28px;
  }
  #logo{
    width: 60px;
    margin: 8px;
  }
  .topicus-banner {
    display: block;
  }
}
@media (max-width: 984px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    display: inline;
  }


  #logo {
    margin: 8px;
    width: 36px;
  }
}


footer.page {
  padding-top: 10px;
  background-color: #2A5769;
  color: white;
  text-align: center;
}

.topicus-banner >img  {
  width: 100%;
}


#login-form, #signup {
  margin-bottom: 20px;
}