

.navbar-brand {
  font-family: "Roboto";
  font-weight: 300;
}
.navbar-inverse {
  background-color: #2A5769;
}

.navbar-inverse .navbar-nav > li > a, .navbar-brand {
  color: white !important;
}

.navbar-inverse li.active > a {
  background-color: #002E40 !important;
}

.hidden {
    display: none;
}

#logo {
  background-color: #2A5769;
}

#logo {
  display: none;
}
@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
  #logo {
    display: block;
  }
  #logo img {
    width: 104px;
    padding-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  #logo h1 {
    margin: 0;
    font-size: 64px;
    line-height: 103.554px;
    color: white;
    display: inline-block;
  }
}