#location {
  background-color: $congres-color;
}

.accent {
  font-family: 'TruenoRegular' !important;
  font-size: 2.25rem;
  font-weight: normal;
}

.accent-logo {
  font-family: 'TruenoRegular' !important;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
}

.congres-bg {
  background-color: $congres-color;
}

.skew-content {
  transform: skewY(5deg);
  background-color: $congres-color;
  overflow: hidden !important;
  margin: -1px;
  padding-bottom: 2em;
  .speakers {
    font-family: 'TruenoUltLt' !important;
    font-weight: 100;
    margin: 0;
    font-size: 1.75rem;
    margin-bottom: 3em;
  }
}

.location-content {
  text-align: right;
  color: white;

  p {
    text-align: right;
  }
}


.text-content {
  margin-left: 20px;
  color: white;
  transform: skewY(-5deg);
}

.speaker-img {
  position: absolute;
  top: 0;
  height: 100vh;
}

.header-title {
  font-size: 4rem;
  margin-bottom: 2em;
}

.line-background {
  // background-color: $congres-color;
  // height: 1px;
  // width: 100%;
}

.skewed-background {
  background-color: $congres-color;
  height: 200px;
  -webkit-clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
  clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
}

.skewed-background-2 {
  position: absolute;
  width: 100%;
  background-color: $congres-color;
  height: 200px;
  // -webkit-clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
  clip-path: polygon(50% 0, 100% 0%, 100% 50%, 50% 0%);
}


.particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.singularit-logo {
}
.singularit-logo img {
  width: 100px;
}

.register-button {
  margin: auto;
  width: 50%;
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  font-size: 1.25rem;
  margin-bottom: 50px;
  color: white;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.silver-sponsors {
  display: flex;
}

.homepage-sponsor-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



// .skewed-background-2 {
//   width: 0;
// height: 0;
// border-style: solid;
// border-width: 20vh 85vh 0 85vh;
// border-color: $congres-color transparent transparent;
//
// }

.homepage-sponsor-banner {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100px;
  flex-wrap: wrap;
  width: 100%;
}


.homepage-sponsor-logo {
  // height: 50px;
  flex: 1;
  max-height: 100px;
  max-width: 100px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1.0);
}
.main-sponsor {
  background-color: transparent;
}

#silver_logo_container {
  display: none !important;
}


@media (max-width: 700px) {

  body {
    overflow: none;
  }

  .homepage-sponsor-logo {
    display: none;
    text-align: center;
    width: 100px;
    height: auto;

    height: 100%;
    flex: 1 0 21%;
  }

  .main-sponsor {
    display: inline;
    height: auto;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  p {
    font-size: 1.25rem !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .skewed-background-2 {
    display: none;
  }

  .silver-sponsors {
    flex-direction: column;
  }

  #silver_logo_container {
    display: inline !important;
  }
  
}

.direction-img {
  height: 2em;
}

.directions {
  text-transform: none;
  text-decoration: none;
  color: white;
}

#speaker-table {
  margin: 4em;
}

#program-table {
  width: 100%;
}