$congres-color: rgb(35, 36, 67);
$congres-color-transparent: rgba(35, 36, 67, 0.7);
$congres-sub-color: rgb(153, 233, 255);
$congres-color-light: rgb(50, 51, 80);

$congres-color-dark: rgb(23, 23, 23);
