extends ../layout

block above-content

block header
  header.hero.chipsoft
    h2 De schouders eronder zetten
block content
  section.intro.slanted
    .content
      p De schouders eronder zetten en de beste zorgsoftware ontwikkelen. Met die teamspirit startten Hans en Gerrit Mulder in 1986 ChipSoft. Die no-nonsense mentaliteit is drie decennia later nog steeds de spil van het bedrijf. Meer dan ooit zelfs, want de Mulders hebben er inmiddels ruim 650 'Chippies' bij. Onze software zorgt dat iedereen in de zorg zich volledig kan richten op zijn kerntaak. Wij hebben een gebruiksvriendelijke totaaloplossing ontwikkeld (HiX) die elke zorgprofessional ondersteunt, bij elk denkbaar werkproces in de zorgketen. En die oplossing perfectioneren en vernieuwen we iedere dag.

      p Al onze honderden medewerkers krijgen de ruimte om zichzelf via cursussen en opleidingen door te ontwikkelen. En om hun eigen ideeën uit te werken. Want bij ChipSoft geloven we in het motto "beter goed bedacht, dan goed gejat";. Die vrijheid geldt óók voor activiteiten met je collega's. Wat is typisch ChipSoft? Een medisch specialist de fijne kneepjes van onze software bijbrengen, bijvoorbeeld. Maar ook het organiseren van een sportactiviteit voor je collega's. Of het ontwikkelen van een oplossing die patiëntlogistiek in ziekenhuizen optimaliseert. Dat alles met een gezamenlijk doel: onze koppositie in de wereld van zorg-ICT verstevigen. Doe je mee? Bezoek #[a(href='www.werkenbijchipsoft.nl') www.werkenbijchipsoft.nl] voor meer informatie en al onze (stage-)vacatures.

