extends ../layout

block above-content

block header
  header.hero.ing
    h2 The best start to your IT career
block content
  section.intro.slanted
    .content
      h2 The best start to your IT career
      p Long before it became fashionable to talk about the need to be ‘digital first’, ING has recognised and invested in the power of new technologies to transform our customers' banking experience.

      h3 Make a difference
      p With 40 million customers depending on our technologies, ING is Europe’s biggest online bank and the largest employer of IT professionals in The Netherlands. ING puts IT at the centre of everything we do. In your four-year traineeship you’ll learn from the industry’s most talented and experienced specialists, working on important and large scale projects with the best technologies and latest methodologies. You will make a difference. You’ll also be provided intensive training and ongoing support to expand and evolve your skills. Add the complexity of working across international environments and the challenges and rewards of an IT career at ING quickly stack up.

      h3 Invent the future
      p To work in IT at ING is to be surrounded by inspiring colleagues who insist constantly on being more tomorrow than we are today: not just by embracing a digital future — but by inventing it. Who work continually to optimise pioneering, reliable and feasible technologies to improve our customers banking experience and the working lives of our people. The IT traineeship is part of ING’s International Talent Programme (ITP). For a sense of what an ING traineeship has in store, read the blogs of other trainees and about our agile Way of Working.

      h3 Interested to know more?
      p Do you want to see your future office and experience what life as an ING trainee is like? Sign up for Meet a Trainee and we’ll connect you to one of our trainees for a one-on-one meeting. Or check out #[a(href='https://ing.nl/traineeship') ing.nl/traineeship] for the upcoming events. For questions you can always contact the wonderfully helpful Jessie de Groot; our IT Campus Recruiter.
