extends ../layout
block above-content


block content
  section(class='intro slanted')
    .content(style="text-align: center;")
      a(href="https://quintor.nl", target="_blank")
        img(src="/images/bedrijven/Logo_Quintor.png", style="width: 500px")
      h3 "We are Coders"
      div(role='separator' class='separator')
      p(style="text-transform: none") Quintor was founded by four engineers. Coders at heart. It's in our DNA. For us, writing code and discussing it with others is the best thing there is. Every day, we want to improve ourselves and the software we make that matters. At Quintor, more than 140 coders with the same DNA as us are currently employed. We are curious to know what you can do. We make software that is crucial for the success of our clients. They trust us with their most complex IT-systems, with the assurance that we can take that responsibility. The software works and matters. Every student gets their student loan, and money will come out of the ATM when you want to withdraw it. It all seems so self-evident, and as far as we are concerned, it should be self-evident. When Quintor is your partner in solving complex problems, you are not only guaranteed to receive a solution on the short term. The total performance and work method will be guaranteed. Our secret: we work in teams, with the best people. We have offices in Amersfoort, Den Bosch, Den Haag and Groningen.

